In [1]:
import pandas as pd
import pickle

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
games = pd.read_csv("raw_data/games.csv")
games.head()

       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1
2  2018090902  09/09/2018        13:00:00          IND             CIN     1
3  2018090903  09/09/2018        13:00:00          MIA             TEN     1
4  2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [4]:
plays = pd.read_csv("processed_data/remove_st_nbt_spikes/plays.csv",index_col=0)
plays.head()

,level_0,index,id,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,personnelO,defendersInTheBox,numberOfPassRushers,personnelD,typeDropback,preSnapVisitorScore,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,0,0,2018090600:75:1,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,"2 RB, 1 TE, 2 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0.0,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,1,1,2018090600:146:1,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,"1 RB, 1 TE, 3 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0.0,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2,2,2,2018090600:168:1,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,"2 RB, 1 TE, 2 WR",6.0,4.0,"4 DL, 2 LB, 5 DB",TRADITIONAL,0.0,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False
3,3,3,2018090600:190:1,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 1 LB, 6 DB",SCRAMBLE_ROLLOUT_LEFT,0.0,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
4,4,4,2018090600:256:1,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,SHOTGUN,"2 RB, 3 TE, 0 WR",8.0,6.0,"6 DL, 3 LB, 2 DB",TRADITIONAL,0.0,0.0,10:59:00,11.0,NaN,NaN,I,0,0,-0.842272,False

In [5]:
week1 = pd.read_csv("processed_data/remove_st_nbt_spikes/week1.csv")
week2 = pd.read_csv("processed_data/remove_st_nbt_spikes/week2.csv")
week3 = pd.read_csv("processed_data/remove_st_nbt_spikes/week3.csv")
week4 = pd.read_csv("processed_data/remove_st_nbt_spikes/week4.csv")
week5 = pd.read_csv("processed_data/remove_st_nbt_spikes/week5.csv")
week6 = pd.read_csv("processed_data/remove_st_nbt_spikes/week6.csv")
week7 = pd.read_csv("processed_data/remove_st_nbt_spikes/week7.csv")
week8 = pd.read_csv("processed_data/remove_st_nbt_spikes/week8.csv")
week9 = pd.read_csv("processed_data/remove_st_nbt_spikes/week9.csv")
week10 = pd.read_csv("processed_data/remove_st_nbt_spikes/week10.csv")
week11 = pd.read_csv("processed_data/remove_st_nbt_spikes/week11.csv")
week12 = pd.read_csv("processed_data/remove_st_nbt_spikes/week12.csv")
week13 = pd.read_csv("processed_data/remove_st_nbt_spikes/week13.csv")
week14 = pd.read_csv("processed_data/remove_st_nbt_spikes/week14.csv")
week15 = pd.read_csv("processed_data/remove_st_nbt_spikes/week15.csv")
week16 = pd.read_csv("processed_data/remove_st_nbt_spikes/week16.csv")
week17 = pd.read_csv("processed_data/remove_st_nbt_spikes/week17.csv")
week1.head()

,Unnamed: 0,level_0,Unnamed: 0.1,index,id,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,playDirection,route
0,0,0,0,0,2018090600:75:1,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
1,1,1,1,1,2018090600:75:1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,left,NaN
2,2,2,2,2,2018090600:75:1,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,left,HITCH
3,3,3,3,3,2018090600:75:1,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,left,NaN
4,4,4,4,4,2018090600:75:1,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,left,HITCH

In [6]:
week1_f1 = week1[week1["frameId"]==1]
week2_f1 = week2[week2["frameId"]==1]
week3_f1 = week3[week3["frameId"]==1]
week4_f1 = week4[week4["frameId"]==1]
week5_f1 = week5[week5["frameId"]==1]
week6_f1 = week6[week6["frameId"]==1]
week7_f1 = week7[week7["frameId"]==1]
week8_f1 = week8[week8["frameId"]==1]
week9_f1 = week9[week9["frameId"]==1]
week10_f1 = week10[week10["frameId"]==1]
week11_f1 = week11[week11["frameId"]==1]
week12_f1 = week12[week12["frameId"]==1]
week13_f1 = week13[week13["frameId"]==1]
week14_f1 = week14[week14["frameId"]==1]
week15_f1 = week15[week15["frameId"]==1]
week16_f1 = week16[week16["frameId"]==1]
week17_f1 = week17[week17["frameId"]==1]
week1_f1

,Unnamed: 0,level_0,Unnamed: 0.1,index,id,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,playDirection,route
0,0,0,0,0,2018090600:75:1,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
1,1,1,1,1,2018090600:75:1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,left,NaN
2,2,2,2,2,2018090600:75:1,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,left,HITCH
3,3,3,3,3,2018090600:75:1,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,left,NaN
4,4,4,4,4,2018090600:75:1,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,left,HITCH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984550,984550,985057,985057,985057,2018091001:4192:1,2018-09-11T05:29:33.500Z,35.90,24.39,0.00,0.00,0.00,97.08,258.63,None,2556277.0,Marqui Christian,41.0,SS,1,away,left,NaN
984551,984551,985058,985058,985058,2018091001:4192:1,2018-09-11T05:29:33.500Z,36.93,36.39,0.02,0.02,0.01,95.57,111.48,None,2556593.0,Cory Littleton,58.0,ILB,1,away,left,NaN
984552,984552,985059,985059,985059,2018091001:4192:1,2018-09-11T05:29:33.500Z,42.53,46.29,0.00,0.00,0.00,266.37,339.77,None,2556885.0,Jalen Richard,30.0,RB,1,home,left,SCREEN
984553,984553,985060,985060,985060,2018091001:4192:1,2018-09-11T05:29:33.500Z,29.08,35.13,0.02,0.02,0.01,104.77,290.71,None,2558183.0,John Johnson,43.0,SS,1,away,left,NaN
984554,984554,985061,985061,985061,2018091001:4192:1,2018-09-11T05:29:33.500Z,41.00,29.62,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,1,football,left,NaN

In [7]:
weeks_f1 = [week1_f1,week2_f1,week3_f1,week4_f1,week5_f1,week6_f1,week7_f1,week8_f1,week9_f1,week10_f1,week11_f1,week12_f1,week13_f1,week14_f1,week15_f1,week16_f1,week17_f1]

In [19]:
no_one_qb = []
two_qbs = []
two_qbs_same = []
for week in weeks_f1:
    playsids = week["id"].unique()
    for play in playsids:
        qb = week[(week["id"]==play)&(week["position"] == 'QB')]
        if len(qb) == 0:
            no_one_qb.append(play)
        elif len(qb) == 2:
            if qb["displayName"].values[0] == qb["displayName"].values[1]:
                two_qbs_same.append(play)
            else:
                two_qbs.append(play)

In [17]:
pickle_file = open('resources/no_one_qb.pickle','wb')
pickle.dump(no_one_qb,pickle_file)
pickle_file.close()

In [18]:
pickle_file = open('resources/two_qbs.pickle','wb')
pickle.dump(two_qbs,pickle_file)
pickle_file.close()

In [19]:
pickle_file = open('resources/two_qbs.two_qbs_same','wb')
pickle.dump(two_qbs_same,pickle_file)
pickle_file.close()

In [20]:
len(no_one_qb)

3

In [21]:
len(two_qbs)

81

In [22]:
len(two_qbs_same)

3

Son tres jugadas donde no hay QB, y otras tres donde el QB es distinto

Vamos a comprobar aquellas jugadas que tengan jugadores repetidos

In [20]:
repeated_players = []
for week in weeks_f1:
    playsids = week["id"].unique()
    for play in playsids:
        players = week[(week["id"]==play)]["nflId"]
        if len(players.unique()) != len(players):
            repeated_players.append(play)

In [17]:
len(repeated_players)

3

In [21]:
repeated_players == two_qbs_same

True

Al final, tan solo hay tres jugadas y son las mismas. Tan solo habrá que modificarlas.

In [23]:
no_cbs = []
no_lbs = []
no_s = []
for week in weeks_f1:
    playsids = week["id"].unique()
    for play in playsids:
        cbs = week[(week["id"]==play)&(week["position"].isin(['CB','DB']) )]
        lbs = week[(week["id"]==play)&(week["position"].isin(['LB','OLB','ILB','MLB']) )]
        s = week[(week["id"]==play)&(week["position"].isin(['SS','FS','S','DB']) )]
        if len(cbs) == 0:
            no_cbs.append(play)
        if len(lbs) == 0:
            no_lbs.append(play)
        if len(s) == 0:
            no_s.append(play)

In [24]:
len(no_cbs)

30

In [25]:
len(no_lbs)

25

In [26]:
len(no_s)

37

In [30]:
pickle_file = open('resources/no_cbs.pickle','wb')
pickle.dump(no_cbs,pickle_file)
pickle_file.close()

In [31]:
pickle_file = open('resources/no_lbs.pickle','wb')
pickle.dump(no_lbs,pickle_file)
pickle_file.close()

In [32]:
pickle_file = open('resources/no_s.pickle','wb')
pickle.dump(no_s,pickle_file)
pickle_file.close()

In [7]:
plays["personnelO"].unique()

array(['2 RB, 1 TE, 2 WR', '1 RB, 1 TE, 3 WR', '2 RB, 3 TE, 0 WR',
       '1 RB, 2 TE, 2 WR', '1 RB, 3 TE, 1 WR', '2 RB, 0 TE, 3 WR',
       '1 RB, 1 TE, 2 WR,1 DL', '1 RB, 0 TE, 4 WR',
       '2 QB, 0 RB, 1 TE, 3 WR', '2 QB, 1 RB, 1 TE, 2 WR',
       '0 RB, 1 TE, 4 WR', '2 RB, 2 TE, 1 WR', '6 OL, 1 RB, 1 TE, 2 WR',
       '6 OL, 1 RB, 2 TE, 1 WR', nan, '6 OL, 2 RB, 0 TE, 2 WR',
       '6 OL, 2 RB, 2 TE, 0 WR', '3 RB, 1 TE, 1 WR', '0 RB, 2 TE, 3 WR',
       '1 RB, 2 TE, 1 WR,1 DL', '6 OL, 1 RB, 3 TE, 0 WR',
       '6 OL, 2 RB, 1 TE, 1 WR', '3 RB, 2 TE, 0 WR',
       '1 RB, 0 TE, 3 WR,1 DL', '6 OL, 1 RB, 2 TE, 0 WR,1 DL',
       '0 RB, 0 TE, 5 WR', '0 RB, 3 TE, 2 WR',
       '6 OL, 1 RB, 1 TE, 1 WR,1 DL', '2 QB, 1 RB, 2 TE, 1 WR',
       '1 RB, 4 TE, 0 WR', '6 OL, 1 RB, 0 TE, 3 WR',
       '2 QB, 2 RB, 2 TE, 0 WR', '3 RB, 0 TE, 2 WR',
       '2 QB, 1 RB, 1 TE, 1 WR,1 DL', '2 QB, 2 RB, 1 TE, 1 WR',
       '1 RB, 2 TE, 1 WR,1 DB', '4 RB, 1 TE, 0 WR',
       '1 RB, 0 TE, 3 WR,1 DB', '1 RB, 1 TE, 2 WR,1 DB',
       '6 OL, 2 RB, 1 TE, 0 WR,1 DL', '6 OL, 0 RB, 0 TE, 0 WR,4 DL',
       '2 QB, 1 RB, 0 TE, 3 WR'], dtype=object)

In [8]:
not_same_personnelO = []
for week in weeks_f1:
    playsids = week["id"].unique()
    for play in playsids:
        possessionTeam = plays[plays["id"]==play]["possessionTeam"].values[0]
        idParts = play.split(":")
        gameId = idParts[0]
        team = ""
        if possessionTeam == games[games["gameId"]==int(gameId)]["homeTeamAbbr"].values[0]:
            team = "home"
        elif possessionTeam == games[games["gameId"]==int(gameId)]["visitorTeamAbbr"].values[0]:
            team = "away"
        
        
        personnelO = plays[plays["id"]==play]["personnelO"].values[0]
        if str(personnelO) == "nan":
            continue
            
        positions = personnelO.split(",")
        for positionPlayer in positions:
            positionParts = positionPlayer.split()
            number = positionParts[0]
            position = positionParts[1]
            if position == "OL":
                continue
            elif position == "DL":
                players = week[(week["id"]==play)&(week["position"].isin(['DL','NT','DT','DE'])) & (week["team"]==team)]
            elif position == "DB":
                players = week[(week["id"]==play)&(week["position"].isin(['DB','CB','SS','S','FS'])) & (week["team"]==team)]
            elif position == "RB":
                players = week[(week["id"]==play)&(week["position"].isin(['RB','FB','HB'])) & (week["team"]==team)]
            else:
                players = week[(week["id"]==play)&(week["position"]==position) & (week["team"]==team)]
            
            
            if len(players["nflId"].unique()) != int(number): #tengo que comprobar que los jugadores sean del mismo equipo
                print(position,number,len(players["nflId"].unique()),play)
                not_same_personnelO.append(play)

WR 1 0 2018090910:477:1
WR 3 2 2018091300:103:2
RB 1 0 2018091600:3549:2
RB 1 0 2018091610:2959:2
WR 3 2 2018092313:2899:3
RB 1 2 2018093002:492:4
WR 3 2 2018093002:492:4
WR 3 2 2018093005:2574:4
RB 1 0 2018093010:1507:4
WR 3 2 2018100705:1852:5
WR 2 1 2018101404:2336:6
WR 3 2 2018101411:1592:6
RB 2 1 2018110403:897:9
RB 2 1 2018110405:3403:9
RB 1 0 2018110406:784:9
TE 1 0 2018111500:1894:11
WR 3 2 2018112508:1568:12
TE 1 0 2018120205:1196:13
RB 1 0 2018120207:5149:13
DL 4 3 2018120901:2858:14
WR 3 2 2018121605:613:15
WR 3 2 2018121605:3815:15
WR 3 2 2018121605:4082:15
TE 2 1 2018121607:273:15
TE 2 1 2018122307:2638:16
TE 1 0 2018122307:3295:16
WR 3 2 2018123010:1475:17
WR 2 1 2018123011:2416:17

In [9]:
len(not_same_personnelO)

28

In [10]:
pickle_file = open('resources/not_same_personnelO.pickle','wb')
pickle.dump(not_same_personnelO,pickle_file)
pickle_file.close()

In [11]:
plays["personnelD"].unique()

array(['4 DL, 2 LB, 5 DB', '4 DL, 1 LB, 6 DB', '6 DL, 3 LB, 2 DB',
       '3 DL, 3 LB, 5 DB', '4 DL, 3 LB, 4 DB', '2 DL, 4 LB, 5 DB',
       '0 DL, 6 LB, 5 DB', '1 DL, 4 LB, 6 DB', '3 DL, 4 LB, 4 DB',
       '2 DL, 3 LB, 6 DB', '1 DL, 5 LB, 5 DB', '3 DL, 2 LB, 6 DB',
       '5 DL, 1 LB, 5 DB', '3 DL, 1 LB, 7 DB', '3 DL, 1 LB, 6 DB, 1 TE',
       nan, '4 DL, 4 LB, 3 DB', '5 DL, 3 LB, 3 DB', '0 DL, 5 LB, 6 DB',
       '1 DL, 3 LB, 7 DB', '5 DL, 2 LB, 4 DB', '2 DL, 2 LB, 7 DB',
       '1 DL, 4 LB, 5 DB', '6 DL, 4 LB, 1 DB', '3 DL, 5 LB, 3 DB',
       '3 DL, 2 LB, 5 DB, 1 WR', '3 DL, 2 LB, 5 DB', '5 DL, 4 LB, 2 DB',
       '0 DL, 4 LB, 7 DB', '4 DL, 2 LB, 4 DB', '6 DL, 1 LB, 4 DB',
       '4 DL, 5 LB, 2 DB', '2 DL, 2 LB, 6 DB, 1 WR', '2 DL, 3 LB, 5 DB',
       '6 DL, 2 LB, 3 DB', '5 DL, 3 LB, 2 DB, 1 OL',
       '2 DL, 3 LB, 5 DB, 1 WR', '4 DL, 0 LB, 7 DB',
       '3 DL, 1 LB, 6 DB, 1 WR', '3 DL, 0 LB, 8 DB', '2 DL, 4 LB, 4 DB',
       '5 DL, 5 LB, 1 DB', '1 DL, 3 LB, 6 DB, 1 WR', '7 DL, 3 LB, 1 DB',
       '1 DL, 2 LB, 7 DB'], dtype=object)

In [15]:
not_same_personnelD = []
for week in weeks_f1:
    playsids = week["id"].unique()
    for play in playsids:
        possessionTeam = plays[plays["id"]==play]["possessionTeam"].values[0]
        idParts = play.split(":")
        gameId = idParts[0]
        team = ""
        if possessionTeam == games[games["gameId"]==int(gameId)]["homeTeamAbbr"].values[0]:
            team = "away"
        elif possessionTeam == games[games["gameId"]==int(gameId)]["visitorTeamAbbr"].values[0]:
            team = "home"
        
        
        personnelD = plays[plays["id"]==play]["personnelD"].values[0]
        if str(personnelD) == "nan":
            continue
            
        positions = personnelD.split(",")
        for positionPlayer in positions:
            positionParts = positionPlayer.split()
            number = positionParts[0]
            position = positionParts[1]
            
            if position == "DL":
                continue
            elif position == "DB":
                players = week[(week["id"]==play)&(week["position"].isin(['DB','CB','SS','S','FS'])) & (week["team"]==team)]
            elif position == "LB":
                players = week[(week["id"]==play)&(week["position"].isin(['LB','MLB','OLB','ILB'])) & (week["team"]==team)]
            else:
                players = week[(week["id"]==play)&(week["position"]==position) & (week["team"]==team)]
            
            
            if len(players["nflId"].unique()) != int(number): #tengo que comprobar que los jugadores sean del mismo equipo
                print(position,number,len(players["nflId"].unique()),play)
                not_same_personnelD.append(play)

LB 2 3 2018090907:1316:1
DB 6 5 2018091610:2897:2
DB 6 5 2018093007:4123:4
DB 5 4 2018100705:921:5
OL 1 0 2018100710:3616:5
OL 1 0 2018100710:3659:5
LB 2 3 2018101410:3332:6
LB 2 3 2018101410:3425:6
DB 6 5 2018102101:1356:7
DB 5 4 2018111105:2797:10
LB 5 4 2018112510:1085:12
LB 2 1 2018112900:897:13
DB 5 4 2018121600:1211:15
DB 5 4 2018121601:3116:15
DB 5 4 2018122304:397:16
OL 1 0 2018122304:454:16
DB 5 4 2018122312:3977:16
DB 6 5 2018122313:1212:16
DB 6 5 2018122313:2582:16
DB 6 5 2018122313:4107:16

In [16]:
len(not_same_personnelD)

28

In [17]:
pickle_file = open('resources/not_same_personnelD.pickle','wb')
pickle.dump(not_same_personnelD,pickle_file)
pickle_file.close()