In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
defenses = pd.read_csv("../processed_data/processing_defenses/defense_players_plays_no_rz.csv",index_col=0)
defenses.head()

,id,x,y,s,a,dis,o,dir,nflId,displayName,jerseyNumber,position,team,playDirection
1,2018090600:75:1,88.89,36.47,0.01,0.01,0.01,105.63,66.66,79848.0,Malcolm Jenkins,27.0,SS,home,left
3,2018090600:75:1,86.31,22.01,0.09,0.42,0.01,70.12,168.91,2495613.0,Corey Graham,24.0,FS,home,left
5,2018090600:75:1,73.64,28.70,0.03,0.02,0.01,103.05,219.41,2534832.0,Rodney McLeod,23.0,FS,home,left
7,2018090600:75:1,86.48,31.12,0.09,0.03,0.04,95.90,33.36,2552315.0,Jordan Hicks,58.0,MLB,home,left
8,2018090600:75:1,82.67,20.53,0.03,0.07,0.01,81.14,174.57,2552689.0,Ronald Darby,21.0,CB,home,left

In [4]:
plays = pd.read_csv("../processed_data/processing_defenses/plays.csv",index_col=0)
plays.head()

,id,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,personnelO,defendersInTheBox,numberOfPassRushers,personnelD,preSnapVisitorScore,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,redZone
0,2018090600:75:1,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,"2 RB, 1 TE, 2 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False,False
1,2018090600:146:1,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,"1 RB, 1 TE, 3 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False,False
2,2018090600:168:1,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,"2 RB, 1 TE, 2 WR",6.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False,False
3,2018090600:190:1,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 1 LB, 6 DB",0.0,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False,False
4,2018090600:256:1,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,SHOTGUN,"2 RB, 3 TE, 0 WR",8.0,6.0,"6 DL, 3 LB, 2 DB",0.0,0.0,10:59:00,11.0,NaN,NaN,I,0,0,-0.842272,False,True

In [5]:
plays_no_rz = plays[plays["redZone"]==False]
plays_no_rz.head()

,id,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,personnelO,defendersInTheBox,numberOfPassRushers,personnelD,preSnapVisitorScore,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,redZone
0,2018090600:75:1,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,"2 RB, 1 TE, 2 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False,False
1,2018090600:146:1,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,"1 RB, 1 TE, 3 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False,False
2,2018090600:168:1,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,"2 RB, 1 TE, 2 WR",6.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False,False
3,2018090600:190:1,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 1 LB, 6 DB",0.0,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False,False
5,2018090600:320:1,(10:10) (Shotgun) N.Foles pass short left to N...,1,2,8,PHI,play_type_pass,PHI,4,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,4.0,"3 DL, 3 LB, 5 DB",0.0,0.0,10:10:00,14.0,NaN,NaN,C,4,4,-0.344096,False,False

Vamos a empezar identificando cuantos jugadores hay en la zona profunda. Esta zona está 10 o 15 yardas más lejos de la línea de scrimmage.

In [6]:
transf_def = pd.DataFrame(columns = ["id","deepzonePlayers"])

In [7]:
transf_def["id"] = plays_no_rz["id"]

In [8]:
def deepzonePlayers(id):
    los = plays_no_rz[plays_no_rz["id"]==id]["absoluteYardlineNumber"].values[0]
    defenders = defenses[defenses["id"]==id]
    playDirection = defenses[defenses["id"]==id]["playDirection"].values[0]
    deepzone = -1
    
    if playDirection == "right":
        deepzone = los + 15
    elif playDirection == "left":
        deepzone = los - 15
    
    number_players=0
    for index,row in defenders.iterrows():
        player_x = row["x"]
        if playDirection == "right" and player_x >= deepzone:
            number_players+=1
        elif playDirection == "left" and player_x <= deepzone:
            number_players+=1
    return number_players

In [9]:
def hookzonePlayers(id): # dentro de 23.6 y 29.7 (dar un poco de margen, 2 yardas por lado)
    los = plays_no_rz[plays_no_rz["id"]==id]["absoluteYardlineNumber"].values[0]
    defenders = defenses[defenses["id"]==id]
    playDirection = defenses[defenses["id"]==id]["playDirection"].values[0]
    x_hook = -1
    
    if playDirection == "right":
        x_hook = los + 15
    elif playDirection == "left":
        x_hook = los - 15
    
    number_players=0
    for index,row in defenders.iterrows():
        player_x = row["x"]
        player_y = row["y"]
        if playDirection == "right" and player_x <= x_hook and (player_y >= 21.6 and player_y <= 31.7):
            number_players+=1
        elif playDirection == "left" and player_x >= x_hook and (player_y >= 21.6 and player_y <= 31.7):
            number_players+=1
    return number_players

Vamos a asignar a la zona curl como la zona que está entre las hash marks y los números y la flat la zona fuera de los números

In [ ]:
def curlzonePlayers(id): # está entre la zona hook y los números (12 yd hasta 21.6 yd y 31.7 yd hasta 41.3 yd)
    los = plays_no_rz[plays_no_rz["id"]==id]["absoluteYardlineNumber"].values[0]
    defenders = defenses[defenses["id"]==id]
    playDirection = defenses[defenses["id"]==id]["playDirection"].values[0]
    x_curl = -1
    
    if playDirection == "right":
        x_curl = los + 15
    elif playDirection == "left":
        x_curl = los - 15
    
    number_players=0
    for index,row in defenders.iterrows():
        player_x = row["x"]
        player_y = row["y"]
        if playDirection == "right" and player_x <= x_curl and ((player_y >= 12 and player_y < 21.6) or (player_y > 31.7 and player_y <= 41.3)):
            number_players+=1
        elif playDirection == "left" and player_x >= x_curl and ((player_y >= 12 and player_y < 21.6) or (player_y > 31.7 and player_y <= 41.3)):
            number_players+=1
    return number_players

In [ ]:
def flatzonePlayers(id): # está fuera de los números (0 yd hasta 12 yd y 41.3 yd hasta 53.3 yd)
    los = plays_no_rz[plays_no_rz["id"]==id]["absoluteYardlineNumber"].values[0]
    defenders = defenses[defenses["id"]==id]
    playDirection = defenses[defenses["id"]==id]["playDirection"].values[0]
    x_flat = -1
    
    if playDirection == "right":
        x_flat = los + 15
    elif playDirection == "left":
        x_flat = los - 15
    
    number_players=0
    for index,row in defenders.iterrows():
        player_x = row["x"]
        player_y = row["y"]
        if playDirection == "right" and player_x <= x_flat and ((player_y > 0 and player_y < 12) or (player_y > 41.3 and player_y < 53.3)):
            number_players+=1
        elif playDirection == "left" and player_x >= x_flat and ((player_y > 0 and player_y < 12) or (player_y > 41.3 and player_y < 53.3)):
            number_players+=1
    return number_players

In [10]:
transf_def["deepzonePlayers"] = transf_def["id"].apply(deepzonePlayers)

In [11]:
transf_def["hookzonePlayers"] = transf_def["id"].apply(hookzonePlayers)

In [12]:
transf_def

                       id  deepzonePlayers  hookzonePlayers
0         2018090600:75:1                1                3
1        2018090600:146:1                1                3
2        2018090600:168:1                1                2
3        2018090600:190:1                0                3
5        2018090600:320:1                0                4
...                   ...              ...              ...
19112  2018123015:3819:17                0                3
19113  2018123015:3932:17                0                1
19114  2018123015:3969:17                1                1
19115  2018123015:4057:17                0                2
19116  2018123015:4104:17                0                3

[16498 rows x 3 columns]

In [44]:
transf_def["deepzonePlayers"].unique()

array([1, 0, 3, 4, 2, 7, 8, 6, 5, 9])

In [13]:
transf_def["hookzonePlayers"].unique()

array([3, 2, 4, 1, 0, 5, 6, 8, 7])

In [14]:
transf_def[transf_def["hookzonePlayers"]==7]

                       id  deepzonePlayers  hookzonePlayers
5126    2018100703:1436:5                0                7
11146   2018111200:268:10                0                7
14210  2018120211:2912:13                0                7
14517  2018120600:3388:14                0                7