In [1]:
import pandas as pd
import pickle

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
week1 = pd.read_csv("../processed_data/clean_without_pass_rushers/week1.csv")
week2 = pd.read_csv("../processed_data/clean_without_pass_rushers/week2.csv")
week3 = pd.read_csv("../processed_data/clean_without_pass_rushers/week3.csv")
week4 = pd.read_csv("../processed_data/clean_without_pass_rushers/week4.csv")
week5 = pd.read_csv("../processed_data/clean_without_pass_rushers/week5.csv")
week6 = pd.read_csv("../processed_data/clean_without_pass_rushers/week6.csv")
week7 = pd.read_csv("../processed_data/clean_without_pass_rushers/week7.csv")
week8 = pd.read_csv("../processed_data/clean_without_pass_rushers/week8.csv")
week9 = pd.read_csv("../processed_data/clean_without_pass_rushers/week9.csv")
week10 = pd.read_csv("../processed_data/clean_without_pass_rushers/week10.csv")
week11 = pd.read_csv("../processed_data/clean_without_pass_rushers/week11.csv")
week12 = pd.read_csv("../processed_data/clean_without_pass_rushers/week12.csv")
week13 = pd.read_csv("../processed_data/clean_without_pass_rushers/week13.csv")
week14 = pd.read_csv("../processed_data/clean_without_pass_rushers/week14.csv")
week15 = pd.read_csv("../processed_data/clean_without_pass_rushers/week15.csv")
week16 = pd.read_csv("../processed_data/clean_without_pass_rushers/week16.csv")
week17 = pd.read_csv("../processed_data/clean_without_pass_rushers/week17.csv")
week1.head()

,Unnamed: 0,id,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,playDirection,route
0,0,2018090600:75:1,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
1,1,2018090600:75:1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,left,NaN
2,2,2018090600:75:1,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,left,HITCH
3,3,2018090600:75:1,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,left,NaN
4,4,2018090600:75:1,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,left,HITCH

In [4]:
weeks = [week1,week2,week3,week4,week5,week6,week7,week8,week9,week10,week11,week12,week13,week14,week15,week16,week17]

In [5]:
for week in weeks:
    week.drop(["Unnamed: 0"],axis=1,inplace=True)

In [18]:
plays = pd.read_csv("../processed_data/clean/plays.csv",index_col=1)
plays.head()

,Unnamed: 0,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,personnelO,defendersInTheBox,numberOfPassRushers,personnelD,preSnapVisitorScore,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
id,,,,,,,,,,,,,,,,,,,,,,,,,
2018090600:75:1,0,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,"2 RB, 1 TE, 2 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
2018090600:146:1,1,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,"1 RB, 1 TE, 3 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2018090600:168:1,2,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,"2 RB, 1 TE, 2 WR",6.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False
2018090600:190:1,3,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 1 LB, 6 DB",0.0,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
2018090600:256:1,4,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,SHOTGUN,"2 RB, 3 TE, 0 WR",8.0,6.0,"6 DL, 3 LB, 2 DB",0.0,0.0,10:59:00,11.0,NaN,NaN,I,0,0,-0.842272,False

In [6]:
summary = pd.read_csv("summary_teams.csv",index_col=2)
summary

,Unnamed: 0,playId,areaDifference,numberPlayersDeep,numberPlayersDeepDifference,numberPlayersUnderneath,densityDifference,heightDifference,widthDifference,cluster,homeScore,visitorScore,down,quarter,yardsToGo,yardsToEndZone,gameClock,defenseValoration
defenseTeam,,,,,,,,,,,,,,,,,,
PHI,0,2018090600:190:1,55.82550,1,1,5,0.107478,2.76,-10.15,0.0,0.0,0.0,3,1,10,39.0,13:01:00,0
ATL,2,2018090600:344:1,7.82150,1,1,6,0.894969,-0.36,-12.15,0.0,0.0,0.0,3,1,4,102.0,09:24:00,1
PHI,4,2018090600:949:1,64.43250,1,1,6,0.108641,1.64,-6.25,0.0,0.0,3.0,3,2,12,92.0,15:00:00,1
ATL,5,2018090600:1037:1,164.09500,2,1,4,0.036564,5.41,-9.52,1.0,0.0,3.0,3,2,7,57.0,12:53:00,0
ATL,8,2018090600:1801:1,126.91500,1,0,6,0.055155,2.64,-12.52,0.0,3.0,6.0,3,2,3,64.0,01:35:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SEA,4550,2018123015:2373:17,-51.20585,1,1,5,-0.117174,2.10,-11.24,0.0,14.0,13.0,3,3,2,83.0,11:58:00,1
SEA,4551,2018123015:2629:17,244.93410,2,2,5,0.028579,8.79,-2.86,0.0,14.0,13.0,3,3,13,58.0,07:43:00,1
SEA,4552,2018123015:2998:17,-72.03590,1,1,5,-0.083292,5.48,-8.06,0.0,21.0,13.0,3,3,10,80.0,04:17:00,1
ARI,4553,2018123015:3180:17,-55.66760,0,0,6,-0.107783,-3.37,-13.98,0.0,21.0,13.0,3,3,5,75.0,00:24:00,1
SEA,4554,2018123015:3969:17,303.87530,4,3,3,0.023036,7.90,-6.77,0.0,24.0,21.0,3,4,12,37.0,02:00:00,1

In [7]:
summary.drop(["Unnamed: 0"],axis=1,inplace=True)

In [16]:
games = pd.read_csv("../raw_data/games.csv",index_col=0)
games.head()

              gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
gameId
2018090600  09/06/2018        20:20:00          PHI             ATL     1
2018090901  09/09/2018        13:00:00          CLE             PIT     1
2018090902  09/09/2018        13:00:00          IND             CIN     1
2018090903  09/09/2018        13:00:00          MIA             TEN     1
2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [14]:
def obtainDefenseTeam(playId):
    playIdParts = playId.split(":")
    gameId = playIdParts[0]
    visitorTeam = games.loc[int(gameId)]["visitorTeamAbbr"]
    homeTeam = games.loc[int(gameId)]["homeTeamAbbr"]
    possessionTeam = plays.loc[playId]["possessionTeam"]
    
    if possessionTeam == visitorTeam: #si equipo visitante tiene el balón, el equipo local es el que defiende
        value = "home"
    elif possessionTeam == homeTeam:
        value = "away"
    
    return value

In [8]:
summary_players = pd.DataFrame()

In [9]:
summary_players["playId"]=""

In [10]:
summary_players["playerId"] = ""

In [19]:
for play in summary["playId"].values:
    idParts = play.split(":")
    idWeek = idParts[2]
    week = weeks[int(idWeek)-1]
    
    for player in week[(week["id"]==play)&(week["team"]==obtainDefenseTeam(play))]["nflId"].unique():
        summary_players = summary_players.append({"playerId":player,"playId":play},ignore_index=True)

In [23]:
summary_players = summary_players.set_index("playId")

In [26]:
summary.columns

Index(['playId', 'areaDifference', 'numberPlayersDeep',
       'numberPlayersDeepDifference', 'numberPlayersUnderneath',
       'densityDifference', 'heightDifference', 'widthDifference', 'cluster',
       'homeScore', 'visitorScore', 'down', 'quarter', 'yardsToGo',
       'yardsToEndZone', 'gameClock', 'defenseValoration'],
      dtype='object')

In [27]:
summary = summary.set_index("playId")

In [24]:
summary_players

                     playerId
playId
2018090600:190:1      79848.0
2018090600:190:1    2495613.0
2018090600:190:1    2534832.0
2018090600:190:1    2552689.0
2018090600:190:1    2555383.0
...                       ...
2018123015:3969:17  2539243.0
2018123015:3969:17  2553456.0
2018123015:3969:17  2553637.0
2018123015:3969:17  2558077.0
2018123015:3969:17  2560728.0

[25176 rows x 1 columns]

In [39]:
summary_players["areaDifference"] = ""
summary_players["numberPlayersDeep"] = ""
summary_players["numberPlayersDeepDifference"] = ""
summary_players["numberPlayersUnderneath"] = ""
summary_players["densityDifference"] = ""
summary_players["heightDifference"] = ""
summary_players["widthDifference"] = ""
summary_players["cluster"] = ""
summary_players["homeScore"] = ""
summary_players["visitorScore"] = ""
summary_players["down"] = ""
summary_players["quarter"] = ""
summary_players["yardsToGo"] = ""
summary_players["yardsToEndZone"] = ""
summary_players["gameClock"] = ""
summary_players["defenseValoration"] = ""

In [41]:
for play in summary.index:
    summary_players.loc[play,"areaDifference"] = summary.loc[play]["areaDifference"]
    summary_players.loc[play,"numberPlayersDeep"] = summary.loc[play]["numberPlayersDeep"]
    summary_players.loc[play,"numberPlayersDeepDifference"] = summary.loc[play]["numberPlayersDeepDifference"]
    summary_players.loc[play,"numberPlayersUnderneath"] = summary.loc[play]["numberPlayersUnderneath"]
    summary_players.loc[play,"densityDifference"] = summary.loc[play]["densityDifference"]
    summary_players.loc[play,"heightDifference"] = summary.loc[play]["heightDifference"]
    summary_players.loc[play,"widthDifference"] = summary.loc[play]["widthDifference"]
    summary_players.loc[play,"cluster"] = summary.loc[play]["cluster"]
    summary_players.loc[play,"homeScore"] = summary.loc[play]["homeScore"]
    summary_players.loc[play,"visitorScore"] = summary.loc[play]["visitorScore"]
    summary_players.loc[play,"down"] = summary.loc[play]["down"]
    summary_players.loc[play,"quarter"] = summary.loc[play]["quarter"]
    summary_players.loc[play,"yardsToGo"] = summary.loc[play]["yardsToGo"]
    summary_players.loc[play,"yardsToEndZone"] = summary.loc[play]["yardsToEndZone"]
    summary_players.loc[play,"gameClock"] = summary.loc[play]["gameClock"]
    summary_players.loc[play,"defenseValoration"] = summary.loc[play]["defenseValoration"]

In [42]:
summary_players

,playerId,areaDifference,numberPlayersDeep,numberPlayersDeepDifference,numberPlayersUnderneath,densityDifference,heightDifference,widthDifference,cluster,homeScore,visitorScore,down,quarter,yardsToGo,yardsToEndZone,gameClock,defenseValoration
playId,,,,,,,,,,,,,,,,,
2018090600:190:1,79848.0,55.8255,1,1,5,0.107478,2.76,-10.15,0.0,0.0,0.0,3,1,10,39.0,13:01:00,0
2018090600:190:1,2495613.0,55.8255,1,1,5,0.107478,2.76,-10.15,0.0,0.0,0.0,3,1,10,39.0,13:01:00,0
2018090600:190:1,2534832.0,55.8255,1,1,5,0.107478,2.76,-10.15,0.0,0.0,0.0,3,1,10,39.0,13:01:00,0
2018090600:190:1,2552689.0,55.8255,1,1,5,0.107478,2.76,-10.15,0.0,0.0,0.0,3,1,10,39.0,13:01:00,0
2018090600:190:1,2555383.0,55.8255,1,1,5,0.107478,2.76,-10.15,0.0,0.0,0.0,3,1,10,39.0,13:01:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018123015:3969:17,2539243.0,303.8753,4,3,3,0.023036,7.9,-6.77,0.0,24.0,21.0,3,4,12,37.0,02:00:00,1
2018123015:3969:17,2553456.0,303.8753,4,3,3,0.023036,7.9,-6.77,0.0,24.0,21.0,3,4,12,37.0,02:00:00,1
2018123015:3969:17,2553637.0,303.8753,4,3,3,0.023036,7.9,-6.77,0.0,24.0,21.0,3,4,12,37.0,02:00:00,1
2018123015:3969:17,2558077.0,303.8753,4,3,3,0.023036,7.9,-6.77,0.0,24.0,21.0,3,4,12,37.0,02:00:00,1
2018123015:3969:17,2560728.0,303.8753,4,3,3,0.023036,7.9,-6.77,0.0,24.0,21.0,3,4,12,37.0,02:00:00,1

In [43]:
summary_players.to_csv("summary_players.csv")

In [45]:
from itertools import combinations
for play in summary.index:
    players = summary_players.loc[play]["playerId"].values
    set_comb = set()
    for comb in combinations(players, 2):
        set_comb.add(tuple(sorted(comb)))

In [46]:
set_comb

{(2532966.0, 2534846.0),
 (2532966.0, 2539243.0),
 (2532966.0, 2553456.0),
 (2532966.0, 2553637.0),
 (2532966.0, 2558077.0),
 (2532966.0, 2560728.0),
 (2534846.0, 2539243.0),
 (2534846.0, 2553456.0),
 (2534846.0, 2553637.0),
 (2534846.0, 2558077.0),
 (2534846.0, 2560728.0),
 (2539243.0, 2553456.0),
 (2539243.0, 2553637.0),
 (2539243.0, 2558077.0),
 (2539243.0, 2560728.0),
 (2553456.0, 2553637.0),
 (2553456.0, 2558077.0),
 (2553456.0, 2560728.0),
 (2553637.0, 2558077.0),
 (2553637.0, 2560728.0),
 (2558077.0, 2560728.0)}