In [2]:
import pandas as pd
import pickle

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
week1 = pd.read_csv("processed_data/clean/week1.csv")
week2 = pd.read_csv("processed_data/clean/week2.csv")
week3 = pd.read_csv("processed_data/clean/week3.csv")
week4 = pd.read_csv("processed_data/clean/week4.csv")
week5 = pd.read_csv("processed_data/clean/week5.csv")
week6 = pd.read_csv("processed_data/clean/week6.csv")
week7 = pd.read_csv("processed_data/clean/week7.csv")
week8 = pd.read_csv("processed_data/clean/week8.csv")
week9 = pd.read_csv("processed_data/clean/week9.csv")
week10 = pd.read_csv("processed_data/clean/week10.csv")
week11 = pd.read_csv("processed_data/clean/week11.csv")
week12 = pd.read_csv("processed_data/clean/week12.csv")
week13 = pd.read_csv("processed_data/clean/week13.csv")
week14 = pd.read_csv("processed_data/clean/week14.csv")
week15 = pd.read_csv("processed_data/clean/week15.csv")
week16 = pd.read_csv("processed_data/clean/week16.csv")
week17 = pd.read_csv("processed_data/clean/week17.csv")
week1.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,level_0,Unnamed: 0.1.1.1,index,id,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,playDirection,route
0,0,0,0,0,0,0,2018090600:75:1,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
1,1,1,1,1,1,1,2018090600:75:1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,left,NaN
2,2,2,2,2,2,2,2018090600:75:1,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,left,HITCH
3,3,3,3,3,3,3,2018090600:75:1,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,left,NaN
4,4,4,4,4,4,4,2018090600:75:1,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,left,HITCH

In [5]:
week1_f1 = week1[week1["frameId"]==1]
week2_f1 = week2[week2["frameId"]==1]
week3_f1 = week3[week3["frameId"]==1]
week4_f1 = week4[week4["frameId"]==1]
week5_f1 = week5[week5["frameId"]==1]
week6_f1 = week6[week6["frameId"]==1]
week7_f1 = week7[week7["frameId"]==1]
week8_f1 = week8[week8["frameId"]==1]
week9_f1 = week9[week9["frameId"]==1]
week10_f1 = week10[week10["frameId"]==1]
week11_f1 = week11[week11["frameId"]==1]
week12_f1 = week12[week12["frameId"]==1]
week13_f1 = week13[week13["frameId"]==1]
week14_f1 = week14[week14["frameId"]==1]
week15_f1 = week15[week15["frameId"]==1]
week16_f1 = week16[week16["frameId"]==1]
week17_f1 = week17[week17["frameId"]==1]
week1_f1

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,level_0,Unnamed: 0.1.1.1,index,id,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,playDirection,route
0,0,0,0,0,0,0,2018090600:75:1,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
1,1,1,1,1,1,1,2018090600:75:1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,left,NaN
2,2,2,2,2,2,2,2018090600:75:1,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,left,HITCH
3,3,3,3,3,3,3,2018090600:75:1,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,left,NaN
4,4,4,4,4,4,4,2018090600:75:1,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,left,HITCH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981241,982403,984550,984550,985057,985057,985057,2018091001:4192:1,2018-09-11T05:29:33.500Z,35.90,24.39,0.00,0.00,0.00,97.08,258.63,None,2556277.0,Marqui Christian,41.0,SS,1,away,left,NaN
981242,982404,984551,984551,985058,985058,985058,2018091001:4192:1,2018-09-11T05:29:33.500Z,36.93,36.39,0.02,0.02,0.01,95.57,111.48,None,2556593.0,Cory Littleton,58.0,ILB,1,away,left,NaN
981243,982405,984552,984552,985059,985059,985059,2018091001:4192:1,2018-09-11T05:29:33.500Z,42.53,46.29,0.00,0.00,0.00,266.37,339.77,None,2556885.0,Jalen Richard,30.0,RB,1,home,left,SCREEN
981244,982406,984553,984553,985060,985060,985060,2018091001:4192:1,2018-09-11T05:29:33.500Z,29.08,35.13,0.02,0.02,0.01,104.77,290.71,None,2558183.0,John Johnson,43.0,SS,1,away,left,NaN
981245,982407,984554,984554,985061,985061,985061,2018091001:4192:1,2018-09-11T05:29:33.500Z,41.00,29.62,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,1,football,left,NaN

In [6]:
weeks_f1 = [week1_f1,week2_f1,week3_f1,week4_f1,week5_f1,week6_f1,week7_f1,week8_f1,week9_f1,week10_f1,week11_f1,week12_f1,week13_f1,week14_f1,week15_f1,week16_f1,week17_f1]

In [7]:
week1_f1.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'level_0',
       'Unnamed: 0.1.1.1', 'index', 'id', 'time', 'x', 'y', 's', 'a', 'dis',
       'o', 'dir', 'event', 'nflId', 'displayName', 'jerseyNumber', 'position',
       'frameId', 'team', 'playDirection', 'route'],
      dtype='object')

In [8]:
for week in weeks_f1:
    week.drop(['Unnamed: 0','Unnamed: 0.1','level_0','Unnamed: 0.1.1','Unnamed: 0.1.1.1','index','time','frameId','route','event'],axis=1,inplace=True)

/home/villamor_coto/.local/lib/python3.9/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [9]:
week3_f1

,id,x,y,s,a,dis,o,dir,nflId,displayName,jerseyNumber,position,team,playDirection
0,2018092000:51:3,33.47,26.91,0.00,0.01,0.01,82.28,245.04,2495240.0,Tyrod Taylor,5.0,QB,home,right
1,2018092000:51:3,36.32,11.84,0.46,0.80,0.05,278.40,312.33,2532877.0,Trumaine Johnson,22.0,CB,away,right
2,2018092000:51:3,35.79,17.36,0.41,0.37,0.04,287.41,338.27,2533059.0,Morris Claiborne,21.0,CB,away,right
3,2018092000:51:3,33.62,31.43,0.02,0.03,0.02,104.03,250.29,2540928.0,Darren Fells,88.0,TE,home,right
4,2018092000:51:3,33.38,17.42,0.01,0.01,0.00,81.26,80.56,2543488.0,Jarvis Landry,80.0,WR,home,right
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159821,2018092400:4286:3,34.16,26.49,0.00,0.00,0.01,84.58,101.56,2557978.0,James Conner,30.0,RB,away,right
1159822,2018092400:4286:3,40.51,34.88,0.00,0.00,0.00,5.54,311.71,2558149.0,JuJu Smith-Schuster,19.0,WR,away,right
1159823,2018092400:4286:3,44.36,20.42,0.03,0.02,0.01,291.05,64.54,2560930.0,Jordan Whitehead,31.0,DB,home,right
1159824,2018092400:4286:3,43.03,36.99,0.08,0.08,0.01,254.79,248.89,2561039.0,Carlton Davis,33.0,CB,home,right
1159825,2018092400:4286:3,42.10,26.75,0.00,0.00,0.00,NaN,NaN,NaN,Football,NaN,NaN,football,right

In [10]:
all_players = pd.concat(weeks_f1)

In [11]:
all_players.to_csv("processed_data/weeks_frame1/frame1_process/all_players_play.csv")

In [12]:
all_players

,id,x,y,s,a,dis,o,dir,nflId,displayName,jerseyNumber,position,team,playDirection
0,2018090600:75:1,91.73,26.67,0.00,0.01,0.02,289.57,240.93,310.0,Matt Ryan,2.0,QB,away,left
1,2018090600:75:1,88.89,36.47,0.01,0.01,0.01,105.63,66.66,79848.0,Malcolm Jenkins,27.0,SS,home,left
2,2018090600:75:1,91.35,44.16,0.02,0.03,0.01,290.45,16.86,2495454.0,Julio Jones,11.0,WR,away,left
3,2018090600:75:1,86.31,22.01,0.09,0.42,0.01,70.12,168.91,2495613.0,Corey Graham,24.0,FS,home,left
4,2018090600:75:1,90.78,36.15,0.00,0.00,0.00,257.61,193.97,2533040.0,Mohamed Sanu,12.0,WR,away,left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037890,2018123015:4104:17,42.60,32.92,0.03,0.03,0.01,87.01,261.32,2553439.0,Mike Davis,27.0,RB,home,right
1037891,2018123015:4104:17,50.94,32.56,0.08,1.01,0.01,254.25,209.64,2557887.0,Haason Reddick,43.0,ILB,away,right
1037892,2018123015:4104:17,49.08,22.00,1.88,3.25,0.19,269.82,206.62,2558009.0,Budda Baker,36.0,FS,away,right
1037893,2018123015:4104:17,46.65,42.33,0.00,0.01,0.00,84.06,7.86,2558856.0,David Moore,83.0,WR,home,right
1037894,2018123015:4104:17,47.23,29.87,0.00,0.00,0.00,NaN,NaN,NaN,Football,NaN,NaN,football,right

In [13]:
games = pd.read_csv("raw_data/games.csv")
games.head()

       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1
2  2018090902  09/09/2018        13:00:00          IND             CIN     1
3  2018090903  09/09/2018        13:00:00          MIA             TEN     1
4  2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [14]:
plays = pd.read_csv("processed_data/clean/plays.csv",index_col=0)
plays.head()

,level_0,index,id,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,personnelO,defendersInTheBox,numberOfPassRushers,personnelD,preSnapVisitorScore,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,0,0,2018090600:75:1,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,"2 RB, 1 TE, 2 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,1,1,2018090600:146:1,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,"1 RB, 1 TE, 3 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2,2,2,2018090600:168:1,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,"2 RB, 1 TE, 2 WR",6.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False
3,3,3,2018090600:190:1,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 1 LB, 6 DB",0.0,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
4,4,4,2018090600:256:1,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,SHOTGUN,"2 RB, 3 TE, 0 WR",8.0,6.0,"6 DL, 3 LB, 2 DB",0.0,0.0,10:59:00,11.0,NaN,NaN,I,0,0,-0.842272,False

In [27]:
offense_players = pd.DataFrame(columns=all_players.columns)
for play in all_players["id"].unique():
    possessionTeam = plays[plays["id"]==play]["possessionTeam"].values[0]
    idParts = play.split(":")
    gameId = idParts[0]
                     
    team = ""
    if possessionTeam == games[games["gameId"]==int(gameId)]["homeTeamAbbr"].values[0]:
        team = "home"
    elif possessionTeam == games[games["gameId"]==int(gameId)]["visitorTeamAbbr"].values[0]:
        team = "away"
    
    players = all_players[(all_players["id"]==play)&(all_players["team"]==team)]
    offense_players = offense_players.append(players)

In [28]:
offense_players

,id,x,y,s,a,dis,o,dir,nflId,displayName,jerseyNumber,position,team,playDirection
0,2018090600:75:1,91.73,26.67,0.00,0.01,0.02,289.57,240.93,310.0,Matt Ryan,2.0,QB,away,left
2,2018090600:75:1,91.35,44.16,0.02,0.03,0.01,290.45,16.86,2495454.0,Julio Jones,11.0,WR,away,left
4,2018090600:75:1,90.78,36.15,0.00,0.00,0.00,257.61,193.97,2533040.0,Mohamed Sanu,12.0,WR,away,left
6,2018090600:75:1,98.25,26.63,0.01,0.01,0.00,265.88,194.51,2543583.0,Devonta Freeman,24.0,RB,away,left
10,2018090600:75:1,91.29,21.83,0.01,0.02,0.01,250.34,151.83,2555415.0,Austin Hooper,81.0,TE,away,left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037884,2018123015:4104:17,45.89,18.53,0.01,0.01,0.00,75.98,126.81,2530747.0,Doug Baldwin,89.0,WR,home,right
1037885,2018123015:4104:17,42.64,29.90,0.16,0.48,0.02,74.34,124.46,2532975.0,Russell Wilson,3.0,QB,home,right
1037889,2018123015:4104:17,46.56,10.96,0.00,0.01,0.00,81.53,104.32,2552430.0,Tyler Lockett,16.0,WR,home,right
1037890,2018123015:4104:17,42.60,32.92,0.03,0.03,0.01,87.01,261.32,2553439.0,Mike Davis,27.0,RB,home,right
1037893,2018123015:4104:17,46.65,42.33,0.00,0.01,0.00,84.06,7.86,2558856.0,David Moore,83.0,WR,home,right

In [29]:
pickle_file = open('resources/offense_players.pickle','wb')
pickle.dump(offense_players,pickle_file)
pickle_file.close()

In [30]:
defense_players = pd.DataFrame(columns=all_players.columns)
for play in all_players["id"].unique():
    possessionTeam = plays[plays["id"]==play]["possessionTeam"].values[0]
    idParts = play.split(":")
    gameId = idParts[0]
                     
    team = ""
    if possessionTeam == games[games["gameId"]==int(gameId)]["homeTeamAbbr"].values[0]:
        team = "away"
    elif possessionTeam == games[games["gameId"]==int(gameId)]["visitorTeamAbbr"].values[0]:
        team = "home"
    
    players = all_players[(all_players["id"]==play)&(all_players["team"]==team)]
    defense_players = defense_players.append(players)

In [31]:
defense_players

,id,x,y,s,a,dis,o,dir,nflId,displayName,jerseyNumber,position,team,playDirection
1,2018090600:75:1,88.89,36.47,0.01,0.01,0.01,105.63,66.66,79848.0,Malcolm Jenkins,27.0,SS,home,left
3,2018090600:75:1,86.31,22.01,0.09,0.42,0.01,70.12,168.91,2495613.0,Corey Graham,24.0,FS,home,left
5,2018090600:75:1,73.64,28.70,0.03,0.02,0.01,103.05,219.41,2534832.0,Rodney McLeod,23.0,FS,home,left
7,2018090600:75:1,86.48,31.12,0.09,0.03,0.04,95.90,33.36,2552315.0,Jordan Hicks,58.0,MLB,home,left
8,2018090600:75:1,82.67,20.53,0.03,0.07,0.01,81.14,174.57,2552689.0,Ronald Darby,21.0,CB,home,left
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037886,2018123015:4104:17,51.60,10.51,0.68,0.22,0.07,284.10,265.69,2540170.0,David Amerson,38.0,CB,away,right
1037887,2018123015:4104:17,51.06,25.89,0.30,0.56,0.03,266.13,226.40,2543769.0,Deone Bucannon,20.0,ILB,away,right
1037888,2018123015:4104:17,61.89,28.60,1.41,0.61,0.14,264.19,79.33,2543830.0,Tre Boston,33.0,FS,away,right
1037891,2018123015:4104:17,50.94,32.56,0.08,1.01,0.01,254.25,209.64,2557887.0,Haason Reddick,43.0,ILB,away,right
1037892,2018123015:4104:17,49.08,22.00,1.88,3.25,0.19,269.82,206.62,2558009.0,Budda Baker,36.0,FS,away,right

In [32]:
pickle_file = open('resources/defense_players.pickle','wb')
pickle.dump(defense_players,pickle_file)
pickle_file.close()

In [33]:
defense_players.to_csv("processed_data/weeks_frame1/frame1_process/defense_players_plays.csv")
offense_players.to_csv("processed_data/weeks_frame1/frame1_process/offense_players_plays.csv")

In [35]:
len(defense_players["id"].unique())

19032

In [36]:
len(offense_players["id"].unique())

19032