In [1]:
import pandas as pd
import pickle

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
week1 = pd.read_csv("../processed_data/clean_without_pass_rushers/week1.csv")
week2 = pd.read_csv("../processed_data/clean_without_pass_rushers/week2.csv")
week3 = pd.read_csv("../processed_data/clean_without_pass_rushers/week3.csv")
week4 = pd.read_csv("../processed_data/clean_without_pass_rushers/week4.csv")
week5 = pd.read_csv("../processed_data/clean_without_pass_rushers/week5.csv")
week6 = pd.read_csv("../processed_data/clean_without_pass_rushers/week6.csv")
week7 = pd.read_csv("../processed_data/clean_without_pass_rushers/week7.csv")
week8 = pd.read_csv("../processed_data/clean_without_pass_rushers/week8.csv")
week9 = pd.read_csv("../processed_data/clean_without_pass_rushers/week9.csv")
week10 = pd.read_csv("../processed_data/clean_without_pass_rushers/week10.csv")
week11 = pd.read_csv("../processed_data/clean_without_pass_rushers/week11.csv")
week12 = pd.read_csv("../processed_data/clean_without_pass_rushers/week12.csv")
week13 = pd.read_csv("../processed_data/clean_without_pass_rushers/week13.csv")
week14 = pd.read_csv("../processed_data/clean_without_pass_rushers/week14.csv")
week15 = pd.read_csv("../processed_data/clean_without_pass_rushers/week15.csv")
week16 = pd.read_csv("../processed_data/clean_without_pass_rushers/week16.csv")
week17 = pd.read_csv("../processed_data/clean_without_pass_rushers/week17.csv")
week1.head()

,Unnamed: 0,id,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,playDirection,route
0,0,2018090600:75:1,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
1,1,2018090600:75:1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,left,NaN
2,2,2018090600:75:1,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,left,HITCH
3,3,2018090600:75:1,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,left,NaN
4,4,2018090600:75:1,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,left,HITCH

In [4]:
weeks = [week1,week2,week3,week4,week5,week6,week7,week8,week9,week10,week11,week12,week13,week14,week15,week16,week17]

In [5]:
for week in weeks:
    week.drop(["Unnamed: 0"],axis=1,inplace=True)

In [6]:
plays = pd.read_csv("../processed_data/clean/plays.csv",index_col=0)
plays.head()

,id,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,personnelO,defendersInTheBox,numberOfPassRushers,personnelD,preSnapVisitorScore,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,2018090600:75:1,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,"2 RB, 1 TE, 2 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,2018090600:146:1,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,"1 RB, 1 TE, 3 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2,2018090600:168:1,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,"2 RB, 1 TE, 2 WR",6.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False
3,2018090600:190:1,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 1 LB, 6 DB",0.0,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
4,2018090600:256:1,(10:59) (Shotgun) M.Ryan pass incomplete short...,1,3,1,ATL,play_type_pass,PHI,1,SHOTGUN,"2 RB, 3 TE, 0 WR",8.0,6.0,"6 DL, 3 LB, 2 DB",0.0,0.0,10:59:00,11.0,NaN,NaN,I,0,0,-0.842272,False

In [7]:
players = pd.read_csv("../processed_data/clean/players.csv",index_col=0)
players.head()

,height,weight,birthDate,collegeName,position,displayName
nflId,,,,,,
2539334,1.83,86,1990-09-10,Washington,CB,Desmond Trufant
2539653,1.78,84,1988-11-01,Southeastern Louisiana,CB,Robert Alford
2543850,1.75,84,1991-12-18,Purdue,SS,Ricardo Allen
2555162,1.85,103,1994-11-04,Louisiana State,MLB,Deion Jones
2555255,1.91,105,1993-07-01,Minnesota,OLB,De'Vondre Campbell

In [8]:
games = pd.read_csv("../raw_data/games.csv",index_col=0)
games.head()

              gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
gameId
2018090600  09/06/2018        20:20:00          PHI             ATL     1
2018090901  09/09/2018        13:00:00          CLE             PIT     1
2018090902  09/09/2018        13:00:00          IND             CIN     1
2018090903  09/09/2018        13:00:00          MIA             TEN     1
2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [9]:
static_defense = pd.read_csv("../transformed_data/static_defenses_yards.csv",index_col=0)
static_defense.head()

,id,defensivelinezonePlayers,deepzonePlayers,hookzonePlayers,curlzonePlayers,flatzonePlayers,defenseArea,defenseAreaCoverDefenders,width,height,numberQBs,numberWRs,numberTEs,numberRBs,numberFBs,numberOffensivePlayersAnotherPosition,numberSafeties,numberLBs,numberCBs,strongSide,numberPlayersDefenseStrongSide,numberPlayersDefenseWeakSide,numberPlayersOffenseStrongSide,numberPlayersOffenseWeakSide,differenceOffenseVsDefenseWidth,differenceOffenseVsDefenseStrongSide,differenceOffenseVsDefenseWeakSide,HeightByWeightDeep,HeightByWeightHook,HeightByWeightCurl,HeightByWeightFlat,WeightByArea,density,densityNoLine,densityInsidePoints,densityInsidePointsNoLine,playResult
0,2018090600:75:1,0,1,3,2,1,194.31095,194.31095,22.96,15.25,1,2,1,1,1,0,3,2,2,left,3,4,3,2,-0.63,0,-2,0.020227,0.018643,0.020066,0.021034,3.376032,0.036025,0.036025,6.974268,6.974268,10
1,2018090600:146:1,0,1,3,2,1,204.17725,204.17725,29.22,12.57,1,3,1,1,0,0,2,2,3,right,3,4,2,3,-1.15,-1,-1,0.020227,0.019228,0.020356,0.020455,3.178611,0.034284,0.034284,6.975511,6.975511,0
2,2018090600:168:1,0,1,2,2,2,277.65495,277.65495,33.67,15.21,1,2,1,2,0,0,2,2,3,left,5,2,4,1,0.71,-1,-1,0.020227,0.017683,0.020997,0.020745,2.337434,0.025211,0.025211,6.985594,6.985594,0
3,2018090600:190:1,1,0,2,3,1,189.16960,165.05520,26.42,12.91,1,3,1,1,0,0,3,1,3,right,2,5,2,3,-3.11,0,-2,0.000000,0.020120,0.021193,0.020455,3.192871,0.037004,0.036351,6.973569,6.969707,33
5,2018090600:320:1,1,0,3,3,1,187.12510,153.20020,27.80,13.29,1,3,1,1,0,0,2,3,3,left,3,5,3,2,-4.82,0,-3,0.000000,0.018995,0.019537,0.021279,4.281979,0.042752,0.045692,7.978624,7.980418,4

In [10]:
plays = plays[plays["id"].isin(static_defense["id"])]
plays

,id,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,personnelO,defendersInTheBox,numberOfPassRushers,personnelD,preSnapVisitorScore,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
0,2018090600:75:1,(15:00) M.Ryan pass short right to J.Jones pus...,1,1,15,ATL,play_type_pass,ATL,20,I_FORM,"2 RB, 1 TE, 2 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,15:00:00,90.0,NaN,NaN,C,10,10,0.261827,False
1,2018090600:146:1,(13:10) M.Ryan pass incomplete short right to ...,1,1,10,ATL,play_type_pass,PHI,39,SINGLEBACK,"1 RB, 1 TE, 3 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:10:00,49.0,NaN,NaN,I,0,0,-0.372360,False
2,2018090600:168:1,(13:05) (Shotgun) M.Ryan pass incomplete short...,1,2,10,ATL,play_type_pass,PHI,39,SHOTGUN,"2 RB, 1 TE, 2 WR",6.0,4.0,"4 DL, 2 LB, 5 DB",0.0,0.0,13:05:00,49.0,NaN,NaN,I,0,0,-0.702779,False
3,2018090600:190:1,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 1 LB, 6 DB",0.0,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
5,2018090600:320:1,(10:10) (Shotgun) N.Foles pass short left to N...,1,2,8,PHI,play_type_pass,PHI,4,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,4.0,"3 DL, 3 LB, 5 DB",0.0,0.0,10:10:00,14.0,NaN,NaN,C,4,4,-0.344096,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19112,2018123015:3819:17,(5:42) J.Rosen pass short middle to C.Williams...,4,1,10,ARI,play_type_pass,ARI,43,SINGLEBACK,"1 RB, 2 TE, 2 WR",7.0,4.0,"4 DL, 3 LB, 4 DB",21.0,24.0,05:42:00,67.0,NaN,NaN,C,12,12,0.732852,False
19113,2018123015:3932:17,(2:27) (Shotgun) J.Rosen sacked at SEA 37 for ...,4,2,9,ARI,play_type_sack,SEA,34,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,4.0,"4 DL, 2 LB, 5 DB",21.0,24.0,02:27:00,44.0,NaN,NaN,S,-3,-3,-0.750672,False
19114,2018123015:3969:17,(2:00) (Shotgun) J.Rosen pass incomplete deep ...,4,3,12,ARI,play_type_pass,SEA,37,SHOTGUN,"1 RB, 1 TE, 3 WR",5.0,4.0,"4 DL, 1 LB, 6 DB",21.0,24.0,02:00:00,47.0,NaN,NaN,I,0,0,-0.944168,False
19115,2018123015:4057:17,"(1:29) (No Huddle, Shotgun) R.Wilson pass shor...",4,2,6,SEA,play_type_pass,SEA,29,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,5.0,"4 DL, 2 LB, 5 DB",24.0,24.0,01:29:00,39.0,NaN,NaN,C,5,5,-0.254137,False
19116,2018123015:4104:17,"(1:02) (No Huddle, Shotgun) R.Wilson pass deep...",4,1,10,SEA,play_type_pass,SEA,38,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,5.0,"4 DL, 2 LB, 5 DB",24.0,24.0,01:02:00,48.0,NaN,NaN,C,37,37,1.827072,False

In [11]:
third_down_plays = plays[(plays["down"]==3)&(plays["passResult"]!="S")]
third_down_plays

,id,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,personnelO,defendersInTheBox,numberOfPassRushers,personnelD,preSnapVisitorScore,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI
3,2018090600:190:1,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 1 LB, 6 DB",0.0,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False
6,2018090600:344:1,(9:24) (Shotgun) N.Foles pass incomplete short...,1,3,4,PHI,play_type_pass,PHI,8,EMPTY,"1 RB, 2 TE, 2 WR",6.0,4.0,"3 DL, 3 LB, 5 DB",0.0,0.0,09:24:00,18.0,NaN,NaN,I,0,0,-1.192208,False
16,2018090600:949:1,(15:00) (Shotgun) M.Ryan pass short left to D....,2,3,12,ATL,play_type_pass,ATL,18,SHOTGUN,"1 RB, 1 TE, 3 WR",4.0,4.0,"4 DL, 1 LB, 6 DB",3.0,0.0,15:00:00,28.0,NaN,NaN,C,-7,-7,-1.912483,False
18,2018090600:1037:1,(12:53) (Shotgun) N.Foles pass short left to N...,2,3,7,PHI,play_type_pass,PHI,43,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 2 LB, 5 DB",3.0,0.0,12:53:00,67.0,NaN,NaN,C,10,10,2.044063,False
34,2018090600:1801:1,(1:35) (Shotgun) N.Foles pass incomplete short...,2,3,3,PHI,play_type_pass,PHI,36,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",6.0,3.0,01:35:00,74.0,NaN,NaN,I,0,0,-0.782217,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19090,2018123015:2373:17,(11:58) (Shotgun) J.Rosen pass incomplete shor...,3,3,2,ARI,play_type_pass,ARI,27,EMPTY,"1 RB, 1 TE, 3 WR",5.0,4.0,"4 DL, 2 LB, 5 DB",13.0,14.0,11:58:00,37.0,NaN,NaN,I,0,0,-1.659557,False
19096,2018123015:2629:17,(7:43) (Shotgun) J.Rosen pass incomplete deep ...,3,3,13,ARI,play_type_pass,SEA,48,SHOTGUN,"1 RB, 1 TE, 3 WR",4.0,4.0,"4 DL, 1 LB, 6 DB",13.0,14.0,07:43:00,62.0,NaN,NaN,I,0,0,-1.748119,False
19101,2018123015:2998:17,(4:17) (Shotgun) J.Rosen pass short middle to ...,3,3,10,ARI,play_type_pass,ARI,30,SHOTGUN,"1 RB, 1 TE, 3 WR",5.0,4.0,"4 DL, 1 LB, 6 DB",13.0,21.0,04:17:00,40.0,NaN,NaN,C,9,9,-1.153889,False
19104,2018123015:3180:17,(:24) (Shotgun) R.Wilson pass incomplete short...,3,3,5,SEA,play_type_pass,SEA,25,EMPTY,"1 RB, 1 TE, 3 WR",7.0,5.0,"4 DL, 2 LB, 5 DB",13.0,21.0,00:24:00,85.0,NaN,NaN,I,0,0,-1.617042,False
19114,2018123015:3969:17,(2:00) (Shotgun) J.Rosen pass incomplete deep ...,4,3,12,ARI,play_type_pass,SEA,37,SHOTGUN,"1 RB, 1 TE, 3 WR",5.0,4.0,"4 DL, 1 LB, 6 DB",21.0,24.0,02:00:00,47.0,NaN,NaN,I,0,0,-0.944168,False

In [12]:
plays = plays.set_index("id")

In [13]:
third_down_plays = third_down_plays.set_index("id")

In [14]:
def evaluateDefense(playId):
    yardsToGo = third_down_plays.loc[playId]["yardsToGo"]
    offensePlayResult = third_down_plays.loc[playId]["offensePlayResult"]
    
    if offensePlayResult < yardsToGo:
        value = 1   #defensa exitosa
    else:
        value = 0   #mala defensa
        
    return value

In [15]:
third_down_plays["defenseValoration"] = third_down_plays.index.map(evaluateDefense)
third_down_plays.head()

,playDescription,quarter,down,yardsToGo,possessionTeam,playType,yardlineSide,yardlineNumber,offenseFormation,personnelO,defendersInTheBox,numberOfPassRushers,personnelD,preSnapVisitorScore,preSnapHomeScore,gameClock,absoluteYardlineNumber,penaltyCodes,penaltyJerseyNumbers,passResult,offensePlayResult,playResult,epa,isDefensivePI,defenseValoration
id,,,,,,,,,,,,,,,,,,,,,,,,,
2018090600:190:1,(13:01) (Shotgun) M.Ryan pass deep left to J.J...,1,3,10,ATL,play_type_pass,PHI,39,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 1 LB, 6 DB",0.0,0.0,13:01:00,49.0,NaN,NaN,C,33,33,3.047530,False,0
2018090600:344:1,(9:24) (Shotgun) N.Foles pass incomplete short...,1,3,4,PHI,play_type_pass,PHI,8,EMPTY,"1 RB, 2 TE, 2 WR",6.0,4.0,"3 DL, 3 LB, 5 DB",0.0,0.0,09:24:00,18.0,NaN,NaN,I,0,0,-1.192208,False,1
2018090600:949:1,(15:00) (Shotgun) M.Ryan pass short left to D....,2,3,12,ATL,play_type_pass,ATL,18,SHOTGUN,"1 RB, 1 TE, 3 WR",4.0,4.0,"4 DL, 1 LB, 6 DB",3.0,0.0,15:00:00,28.0,NaN,NaN,C,-7,-7,-1.912483,False,1
2018090600:1037:1,(12:53) (Shotgun) N.Foles pass short left to N...,2,3,7,PHI,play_type_pass,PHI,43,SHOTGUN,"1 RB, 1 TE, 3 WR",6.0,5.0,"4 DL, 2 LB, 5 DB",3.0,0.0,12:53:00,67.0,NaN,NaN,C,10,10,2.044063,False,0
2018090600:1801:1,(1:35) (Shotgun) N.Foles pass incomplete short...,2,3,3,PHI,play_type_pass,PHI,36,SHOTGUN,"1 RB, 1 TE, 3 WR",7.0,4.0,"4 DL, 2 LB, 5 DB",6.0,3.0,01:35:00,74.0,NaN,NaN,I,0,0,-0.782217,False,1

In [16]:
week1_f1 = week1[week1["frameId"]==1]
week2_f1 = week2[week2["frameId"]==1]
week3_f1 = week3[week3["frameId"]==1]
week4_f1 = week4[week4["frameId"]==1]
week5_f1 = week5[week5["frameId"]==1]
week6_f1 = week6[week6["frameId"]==1]
week7_f1 = week7[week7["frameId"]==1]
week8_f1 = week8[week8["frameId"]==1]
week9_f1 = week9[week9["frameId"]==1]
week10_f1 = week10[week10["frameId"]==1]
week11_f1 = week11[week11["frameId"]==1]
week12_f1 = week12[week12["frameId"]==1]
week13_f1 = week13[week13["frameId"]==1]
week14_f1 = week14[week14["frameId"]==1]
week15_f1 = week15[week15["frameId"]==1]
week16_f1 = week16[week16["frameId"]==1]
week17_f1 = week17[week17["frameId"]==1]
week1_f1

,id,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,playDirection,route
0,2018090600:75:1,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
1,2018090600:75:1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,left,NaN
2,2018090600:75:1,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,left,HITCH
3,2018090600:75:1,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,left,NaN
4,2018090600:75:1,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,left,HITCH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920805,2018091001:4192:1,2018-09-11T05:29:33.500Z,35.90,24.39,0.00,0.00,0.00,97.08,258.63,None,2556277.0,Marqui Christian,41.0,SS,1,away,left,NaN
920806,2018091001:4192:1,2018-09-11T05:29:33.500Z,36.93,36.39,0.02,0.02,0.01,95.57,111.48,None,2556593.0,Cory Littleton,58.0,ILB,1,away,left,NaN
920807,2018091001:4192:1,2018-09-11T05:29:33.500Z,42.53,46.29,0.00,0.00,0.00,266.37,339.77,None,2556885.0,Jalen Richard,30.0,RB,1,home,left,SCREEN
920808,2018091001:4192:1,2018-09-11T05:29:33.500Z,29.08,35.13,0.02,0.02,0.01,104.77,290.71,None,2558183.0,John Johnson,43.0,SS,1,away,left,NaN
920809,2018091001:4192:1,2018-09-11T05:29:33.500Z,41.00,29.62,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,1,football,left,NaN

In [17]:
weeks_f1 = [week1_f1,week2_f1,week3_f1,week4_f1,week5_f1,week6_f1,week7_f1,week8_f1,week9_f1,week10_f1,week11_f1,week12_f1,week13_f1,week14_f1,week15_f1,week16_f1,week17_f1]

In [18]:
week1_f1[(week1_f1["nflId"]==310) & (week1_f1["id"].isin(third_down_plays.index))]

,id,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,playDirection,route
2184,2018090600:190:1,2018-09-07T01:10:34.599Z,54.30,29.58,0.18,0.11,0.02,285.29,254.04,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
13135,2018090600:949:1,2018-09-07T01:45:51.799Z,23.12,30.25,0.00,0.00,0.00,100.88,79.70,None,310.0,Matt Ryan,2.0,QB,1,away,right,NaN
31322,2018090600:1940:1,2018-09-07T02:24:51.500Z,35.74,24.23,0.00,0.00,0.01,103.25,63.82,None,310.0,Matt Ryan,2.0,QB,1,away,right,NaN
41123,2018090600:2575:1,2018-09-07T03:01:42.500Z,24.84,30.22,0.00,0.00,0.00,106.54,83.69,None,310.0,Matt Ryan,2.0,QB,1,away,right,NaN
48262,2018090600:3004:1,2018-09-07T03:22:17.099Z,44.94,24.01,0.11,0.07,0.01,104.48,105.32,None,310.0,Matt Ryan,2.0,QB,1,away,right,NaN
51331,2018090600:3203:1,2018-09-07T03:28:52.799Z,34.86,24.07,0.00,0.00,0.00,100.11,89.73,None,310.0,Matt Ryan,2.0,QB,1,away,right,NaN
59694,2018090600:3844:1,2018-09-07T04:00:33.400Z,100.81,23.52,0.22,0.11,0.02,284.05,288.15,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
68473,2018090600:4258:1,2018-09-07T04:17:54.500Z,54.89,24.00,0.17,0.16,0.01,286.69,272.76,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN

In [19]:
def obtainDefenseTeam(playId):
    playIdParts = playId.split(":")
    gameId = playIdParts[0]
    visitorTeam = games.loc[int(gameId)]["visitorTeamAbbr"]
    homeTeam = games.loc[int(gameId)]["homeTeamAbbr"]
    possessionTeam = plays.loc[playId]["possessionTeam"]
    
    if possessionTeam == visitorTeam: #si equipo visitante tiene el balón, el equipo local es el que defiende
        value = "home"
    elif possessionTeam == homeTeam:
        value = "away"
    
    return value

In [20]:
len(week1_f1[week1_f1["id"].isin(third_down_plays.index)]["id"].unique())

211

In [21]:
week1_f1[week1_f1["id"].isin(third_down_plays.index)]

,id,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,playDirection,route
2184,2018090600:190:1,2018-09-07T01:10:34.599Z,54.30,29.58,0.18,0.11,0.02,285.29,254.04,None,310.0,Matt Ryan,2.0,QB,1,away,left,NaN
2185,2018090600:190:1,2018-09-07T01:10:34.599Z,46.90,22.13,1.03,0.52,0.10,103.25,273.82,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,left,NaN
2186,2018090600:190:1,2018-09-07T01:10:34.599Z,50.41,21.58,0.01,0.01,0.00,259.09,154.62,None,2495454.0,Julio Jones,11.0,WR,1,away,left,CORNER
2187,2018090600:190:1,2018-09-07T01:10:34.599Z,35.39,24.49,1.45,0.94,0.14,97.59,221.61,None,2495613.0,Corey Graham,24.0,FS,1,home,left,NaN
2188,2018090600:190:1,2018-09-07T01:10:34.599Z,51.20,18.21,0.00,0.00,0.00,279.07,115.13,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,left,IN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918425,2018091001:4123:1,2018-09-11T05:27:40.000Z,71.57,23.25,0.11,0.13,0.01,93.45,198.60,None,2556277.0,Marqui Christian,41.0,SS,1,away,left,NaN
918426,2018091001:4123:1,2018-09-11T05:27:40.000Z,71.64,29.38,0.04,0.03,0.01,98.94,214.18,None,2556593.0,Cory Littleton,58.0,ILB,1,away,left,NaN
918427,2018091001:4123:1,2018-09-11T05:27:40.000Z,80.78,28.95,0.00,0.00,0.00,263.89,308.96,None,2556885.0,Jalen Richard,30.0,RB,1,home,left,ANGLE
918428,2018091001:4123:1,2018-09-11T05:27:40.000Z,59.73,26.09,1.21,0.22,0.12,94.42,287.59,None,2558183.0,John Johnson,43.0,SS,1,away,left,NaN
918429,2018091001:4123:1,2018-09-11T05:27:40.000Z,77.01,26.51,0.00,0.00,0.00,NaN,NaN,None,NaN,Football,NaN,NaN,1,football,left,NaN

In [ ]:
for index,row in players.iterrows():
    print(index)

In [43]:
players_defense = []
player_name = []
player_good_defense = []
player_bad_defense = [] ##???
for index,row in players.iterrows():
    if row["position"] in ["LB","ILB","MLB","OLB","CB","DB","SS","FS","S"]:
        players_defense.append(index)
        player_name.append(row["displayName"])
        plays_player = []
        for week in weeks_f1:
            for play in week[week["nflId"]==index]["id"].values:
                plays_player.append(play)
        
        counter_good = 0
        counter_bad = 0
        for play in plays_player:
            try:
                if third_down_plays.loc[play]["defenseValoration"] == 1:
                    counter_good += 1
                elif third_down_plays.loc[play]["defenseValoration"] == 0:
                    counter_bad += 1
            except KeyError:
                pass
        player_good_defense.append(counter_good)
        player_bad_defense.append(counter_bad)

In [44]:
defense_part = pd.DataFrame()

In [45]:
len(player_good_defense)

605

In [46]:
len(player_bad_defense)

605

In [47]:
defense_part["id"] = players_defense

In [48]:
defense_part["displayName"] = player_name

In [49]:
defense_part["good"] = player_good_defense

In [50]:
defense_part["bad"] = player_bad_defense

In [51]:
defense_part

          id         displayName  good  bad
0    2539334     Desmond Trufant    57   44
1    2539653       Robert Alford    47   42
2    2543850       Ricardo Allen    15    8
3    2555162         Deion Jones    22   16
4    2555255  De'Vondre Campbell    41   29
..       ...                 ...   ...  ...
600  2550647       Kasim Edebali     0    0
601   496843   Jason Pierre-Paul     0    0
602  2561394       Jeremy Reaves     0    0
603  2543725        Marcus Smith     0    0
604  2561469    Darious Williams     0    0

[605 rows x 4 columns]

In [52]:
defense_part[defense_part["displayName"]=="Stephon Gilmore"]

          id      displayName  good  bad
129  2533062  Stephon Gilmore    74   47

In [57]:
defense_part = defense_part.set_index("id")
defense_part

                displayName  good  bad
id
2539334     Desmond Trufant    57   44
2539653       Robert Alford    47   42
2543850       Ricardo Allen    15    8
2555162         Deion Jones    22   16
2555255  De'Vondre Campbell    41   29
...                     ...   ...  ...
2550647       Kasim Edebali     0    0
496843    Jason Pierre-Paul     0    0
2561394       Jeremy Reaves     0    0
2543725        Marcus Smith     0    0
2561469    Darious Williams     0    0

[605 rows x 3 columns]

In [3]:
defense_part = pd.read_csv("all_players_plays.csv",index_col=0)
defense_part

                displayName  good  bad
id
2539334     Desmond Trufant    57   44
2539653       Robert Alford    47   42
2543850       Ricardo Allen    15    8
2555162         Deion Jones    22   16
2555255  De'Vondre Campbell    41   29
...                     ...   ...  ...
2550647       Kasim Edebali     0    0
496843    Jason Pierre-Paul     0    0
2561394       Jeremy Reaves     0    0
2543725        Marcus Smith     0    0
2561469    Darious Williams     0    0

[605 rows x 3 columns]

In [4]:
defense_part["total_plays"] = defense_part["good"] + defense_part["bad"]
defense_part

                displayName  good  bad  total_plays
id
2539334     Desmond Trufant    57   44          101
2539653       Robert Alford    47   42           89
2543850       Ricardo Allen    15    8           23
2555162         Deion Jones    22   16           38
2555255  De'Vondre Campbell    41   29           70
...                     ...   ...  ...          ...
2550647       Kasim Edebali     0    0            0
496843    Jason Pierre-Paul     0    0            0
2561394       Jeremy Reaves     0    0            0
2543725        Marcus Smith     0    0            0
2561469    Darious Williams     0    0            0

[605 rows x 4 columns]

In [9]:
defense_part = defense_part.sort_values("total_plays",ascending=False)
defense_part

              displayName  good  bad  total_plays
id
2543681       Kyle Fuller    95   48          143
2552385       Adrian Amos    94   48          142
2560851       Justin Reid    75   60          135
2540180    Tyrann Mathieu    77   56          133
496735     Kareem Jackson    76   57          133
...                   ...   ...  ...          ...
2560948      Trevon Young     0    0            0
2555307      Devante Bond     0    0            0
2561022        Jack Cichy     0    0            0
2507948       Frank Zombo     0    0            0
2561469  Darious Williams     0    0            0

[605 rows x 4 columns]

In [10]:
defense_part.to_csv("all_players_plays.csv")

In [ ]:
def obtainName(playerId):
    return players.loc[playerId]["displayName"]

In [21]:
player_good_defense = {}
player_bad_defense = {}
for week in weeks_f1:
    week_f1 = week[week["id"].isin(third_down_plays.index)]
    for play in week_f1["id"].unique():
        defense = week_f1[(week_f1["team"]==obtainDefenseTeam(play))]
        for player in defense["nflId"]:
            if third_down_plays.loc[play]["defenseValoration"] == 1:
                try:
                    player_good_defense[player] += 1
                except KeyError:
                    player_good_defense[player] = 1
                #player_good_defense[]
            elif third_down_plays.loc[play]["defenseValoration"] == 0:
                try:
                    player_bad_defense[player] += 1
                except KeyError:
                    player_bad_defense[player] = 1

KeyboardInterrupt:

In [ ]:
len(player_bad_defense)

In [33]:
len(player_good_defense)

1111

In [29]:
defense_part = pd.DataFrame()

In [34]:
player_good_defense.keys()

dict_keys([310.0, 2495454.0, 2533040.0, 2543583.0, 2555415.0, 2560854.0, 2539334.0, 2539653.0, 2543850.0, 2555162.0, 2555255.0, 2555543.0, 2556445.0, 2558184.0, 2559109.0, 2552453.0, 2558023.0, 2557034.0, 2552301.0, 2539240.0, 2543851.0, 2557867.0, 2560713.0, 2560766.0, 79607.0, 2495139.0, 2495189.0, 2543471.0, 2557863.0, 2558191.0, 2539290.0, 2557969.0, 2507817.0, 2495453.0, 2552647.0, 2559159.0, 2507999.0, 2543767.0, 2560955.0, 2560729.0, 2506109.0, 2508061.0, 2540151.0, 2552633.0, 2557978.0, 2558149.0, 496727.0, 496733.0, 2540221.0, 2555344.0, 2555386.0, 2556559.0, 2558064.0, 2560712.0, 2557960.0, 2552289.0, 2558849.0, 2560920.0, 2495143.0, 2495450.0, 2540148.0, 2555466.0, 2557976.0, 2558010.0, 2533060.0, 2539233.0, 2543474.0, 2543814.0, 2555528.0, 2556367.0, 2560970.0, 2555355.0, 2558801.0, 2540156.0, 2558982.0, 2495469.0, 2495966.0, 2532903.0, 2552466.0, 2555317.0, 2557848.0, 2557870.0, 2354.0, 71423.0, 2539320.0, 2540162.0, 2550613.0, 2555158.0, 2555339.0, 2558005.0, 2558065.0, 2541539.0, 2555551.0, 2495441.0, 2553896.0, 496828.0, 2558207.0, 496735.0, 2495872.0, 2540180.0, 2543501.0, 2552261.0, 2558094.0, 2560851.0, 2540165.0, 2541316.0, 2543646.0, 2555234.0, 2558063.0, 2561427.0, 2552490.0, 2559152.0, 2533049.0, 2533034.0, 2560951.0, 2495272.0, 2532828.0, 2552592.0, 2555299.0, 2557945.0, 2561039.0, 2495471.0, 2506581.0, 2543468.0, 2553895.0, 2557856.0, 2558105.0, 2556466.0, 2555552.0, 2550656.0, 1581.0, 2543477.0, 2543614.0, 2543683.0, 2557895.0, 2557973.0, 2559153.0, 2552471.0, 494259.0, 2532848.0, 2541162.0, 2543711.0, 2555280.0, 2555329.0, 2560758.0, 2539237.0, 2495211.0, 2553318.0, 2561018.0, 2506340.0, 2540011.0, 2540160.0, 2543491.0, 2552415.0, 2555343.0, 2532920.0, 2539943.0, 2553796.0, 2558133.0, 2558136.0, 2557880.0, 2495190.0, 2495281.0, 2495826.0, 2557886.0, 2507164.0, 2553687.0, 2560886.0, 496937.0, 2541832.0, 2552568.0, 2555310.0, 2555531.0, 2555536.0, 2557840.0, 2534436.0, 2535698.0, 2539336.0, 2553743.0, 2555260.0, 2559193.0, 2553454.0, 2555224.0, 2560908.0, 2550353.0, 2560735.0, 2550262.0, 2539205.0, 2495108.0, 2532961.0, 2543681.0, 2552385.0, 2553500.0, 2555288.0, 2558176.0, 2543509.0, 2550284.0, 2550617.0, 2552636.0, 2558008.0, 2558250.0, 2541202.0, 2555285.0, 2540200.0, 2555418.0, 2560810.0, 494289.0, 2560877.0, 2553432.0, 2495328.0, 2531332.0, 2543828.0, 2553451.0, 2556462.0, 2561036.0, 2532877.0, 2533059.0, 2555322.0, 2556617.0, 2557979.0, 2495343.0, 2540219.0, 2552486.0, 2553353.0, 2561366.0, 2550189.0, 2543597.0, 2553657.0, 2540169.0, 2543498.0, 2552475.0, 2555334.0, 2555364.0, 2557898.0, 1302.0, 2540197.0, 2543492.0, 2552320.0, 2552488.0, 2556593.0, 2558183.0, 2556277.0, 2557889.0, 2558194.0, 2552382.0, 79848.0, 2495613.0, 2534832.0, 2552689.0, 2555383.0, 2557958.0, 2506467.0, 2507763.0, 2532842.0, 2540158.0, 2552600.0, 2560995.0, 2552315.0, 2552582.0, 2553502.0, 2558258.0, 2559150.0, 2556444.0, 382.0, 71269.0, 2543847.0, 2550256.0, 2552631.0, 2555209.0, 4365.0, 2495775.0, 2508004.0, 2540164.0, 2543464.0, 2555378.0, 2558067.0, 2552402.0, 2555505.0, 2552468.0, 2557841.0, 2558166.0, 2560957.0, 2556642.0, 2558248.0, 2555229.0, 2560757.0, 2561485.0, 2560963.0, 2555178.0, 2543637.0, 2543720.0, 2552389.0, 2555166.0, 2556475.0, 2557980.0, 2560916.0, 2495240.0, 2540928.0, 2543488.0, 2552461.0, 2555468.0, 2560988.0, 2555540.0, 2560964.0, 2557986.0, 2539311.0, 2537931.0, 2561470.0, 2543743.0, 2556365.0, 2552386.0, 2556429.0, 2557961.0, 2558060.0, 2558108.0, 2558976.0, 2560789.0, 2532865.0, 2533031.0, 2540232.0, 2543759.0, 2556396.0, 2560742.0, 2560933.0, 2543466.0, 2558877.0, 2550405.0, 496739.0, 2539309.0, 2539935.0, 2552434.0, 2555539.0, 2558070.0, 2560725.0, 2649.0, 2532956.0, 2540202.0, 2550272.0, 2552580.0, 2555230.0, 2560994.0, 2506404.0, 2556190.0, 2560966.0, 2559053.0, 497240.0, 2504211.0, 2530515.0, 2540145.0, 2543773.0, 2552424.0, 71251.0, 494287.0, 2533057.0, 2533062.0, 2552255.0, 2556571.0, 2561143.0, 2541243.0, 2539265.0, 2559211.0, 2533046.0, 2543699.0, 2504775.0, 2506122.0, 2507166.0, 2541834.0, 2556370.0, 2558019.0, 2508084.0, 2533008.0, 2555530.0, 2556735.0, 2558061.0, 2558847.0, 2539303.0, 2558928.0, 494261.0, 2556752.0, 2560878.0, 2539982.0, 2539277.0, 2532875.0, 2539338.0, 2552454.0, 2553822.0, 2555277.0, 2540143.0, 2541792.0, 2505996.0, 2532835.0, 2543496.0, 2550599.0, 2557858.0, 2560968.0, 2543590.0, 2555295.0, 2555522.0, 2543738.0, 2535687.0, 949.0, 2495504.0, 2495807.0, 2539932.0, 2543769.0, 2543830.0, 2557887.0, 2558009.0, 497095.0, 2506106.0, 2558208.0, 2559248.0, 2560711.0, 2560781.0, 2553435.0, 2543855.0, 2530491.0, 2495455.0, 2495459.0, 2495700.0, 2532978.0, 2552458.0, 2557997.0, 2495339.0, 2505708.0, 2533056.0, 2555175.0, 2560753.0, 2560894.0, 80668.0, 2552447.0, 2499257.0, 497236.0, 2495448.0, 2506363.0, 2543495.0, 2556460.0, 2558204.0, 2506789.0, 2543470.0, 2555161.0, 2556480.0, 2557996.0, 2560755.0, 2560952.0, 80431.0, 2557983.0, 2552697.0, 2556537.0, 2552429.0, 2495187.0, 2533048.0, 2555160.0, 71441.0, 2534830.0, 2540288.0, 2543872.0, 2552262.0, 2557924.0, 2558821.0, 79860.0, 497326.0, 2532884.0, 2540020.0, 2556453.0, 2558052.0, 2543836.0, 2557855.0, 2558049.0, 2543869.0, 2506562.0, 2553725.0, 2495153.0, 2495617.0, 2506353.0, 2507167.0, 2541200.0, 2558062.0, 1032.0, 71265.0, 2532899.0, 2543499.0, 2550597.0, 2552487.0, 2556885.0, 2532986.0, 2495663.0, 306.0, 2555342.0, 2557972.0, 2552279.0, 2505660.0, 2560947.0, 2558990.0, 2555430.0, 2560775.0, 2558171.0, 2560813.0, 2505299.0, 2506121.0, 2540154.0, 2552469.0, 2553913.0, 2558846.0, 2532861.0, 2541958.0, 2550842.0, 2556148.0, 2556828.0, 2558182.0, 2557927.0, 2560760.0, 2552654.0, 2561358.0, 2559169.0, 2525323.0, 2532948.0, 2540155.0, 2543459.0, 2552312.0, 2552448.0, 2555177.0, 2495438.0, 2532820.0, 2541785.0, 2555214.0, 2557991.0, 2561027.0, 2541161.0, 2552608.0, 2555306.0, 2557896.0, 2560746.0, 2550164.0, 2556489.0, 2307.0, 2530794.0, 2543592.0, 2552265.0, 2555173.0, 2555349.0, 2560921.0, 2556775.0, 2495493.0, 2555169.0, 2561103.0, 2540204.0, 2540258.0, 2543457.0, 2552652.0, 2556214.0, 2558125.0, 2560881.0, 2560827.0, 2557917.0, 2530660.0, 2532800.0, 2555461.0, 2555346.0, 2543600.0, 2560896.0, 2558123.0, 2543811.0, 2556855.0, 2558851.0, 2539293.0, 2552656.0, 2541199.0, 2560913.0, 2560765.0, 2550572.0, 2557955.0, 2495347.0, 2555568.0, 2534241.0, 2543572.0, 89756.0, 2556119.0, 2557952.0, 2556512.0, 2541944.0, 2495893.0, 2532975.0, 2541966.0, 2552430.0, 2560835.0, 2561046.0, 2508080.0, 2532890.0, 2539243.0, 2553456.0, 2553637.0, 2558259.0, 2558925.0, 2555289.0, 2558865.0, 2557881.0, 2553439.0, 2558856.0, 2540140.0, 2552559.0, 2552586.0, 2556817.0, 2557967.0, 2507828.0, 2552392.0, 2534741.0, 2539219.0, 2561132.0, 79901.0, 2507644.0, 2556652.0, 2534567.0, 2495170.0, 2495888.0, 2558163.0, 2532887.0, 2555256.0, 2560738.0, 2553744.0, 2540215.0, 80427.0, 2560884.0, 2550605.0, 2560930.0, 2561291.0, 2560784.0, 2532804.0, 2557853.0, 2557866.0, 2552276.0, 2558830.0, 1037374.0, 2552307.0, 2553536.0, 2553545.0, 2556374.0, 2495507.0, 2550654.0, 2552391.0, 2558121.0, 2558157.0, 2558857.0, 2560917.0, 2543741.0, 2346.0, 2540230.0, 2543801.0, 2558202.0, 2558266.0, 2560761.0, 2533457.0, 2558914.0, 2560836.0, 2558918.0, 2543680.0, 497322.0, 497328.0, 2532888.0, 2555223.0, 2557859.0, 2560888.0, 494307.0, 2495202.0, 2506345.0, 2530510.0, 2543505.0, 2555550.0, 2556278.0, 2552399.0, 2555432.0, 2507917.0, 2532898.0, 2550930.0, 2559947.0, 2553650.0, 2550659.0, 2560822.0, 2557885.0, 497320.0, 2552484.0, 2553568.0, 2555227.0, 2550541.0, 2560946.0, 2560733.0, 2556519.0, 2558127.0, 2555331.0, 2556075.0, 2495234.0, 2557837.0, 2499278.0, 2560850.0, 2561117.0, 497302.0, 2555294.0, 2559054.0, 2559208.0, 2560801.0, 2553552.0, 2506268.0, 2561155.0, 2558116.0, 2560907.0, 2555340.0, 2495288.0, 2555220.0, 2559161.0, 2541544.0, 2556478.0, 2560901.0, 2535964.0, 2558159.0, 2555380.0, 2560754.0, 2561157.0, 2532946.0, 2543643.0, 2560800.0, 2560830.0, 2553441.0, 2495251.0, 2543638.0, 2555478.0, 2541187.0, 2550512.0, 2552409.0, 2561099.0, 2556803.0, 2495331.0, 2555259.0, 2558168.0, 2543500.0, 2532966.0, 2560728.0, 2555356.0, 2535609.0, 2506861.0, 2559012.0, 2560243.0, 2555156.0, 2560915.0, 2556567.0, 2552033.0, 2560770.0, 2560818.0, 2561029.0, 2560714.0, 2552470.0, 2557995.0, 2543563.0, 2559058.0, 2543724.0, 2533436.0, 2560795.0, 2533039.0, 2530747.0, 2558077.0, 2535869.0, 2543823.0, 2539964.0, 2557922.0, 2558971.0, 2532431.0, 2559007.0, 2495340.0, 2552418.0, 2559924.0, 2555155.0, 2560750.0, 2555381.0, 2557920.0, 2560814.0, 2560984.0, 2558832.0, 2556394.0, 2539289.0, 2556542.0, 2540279.0, 2560718.0, 494277.0, 2560858.0, 2532871.0, 2532790.0, 2561015.0, 2539978.0, 2552451.0, 2560763.0, 2553667.0, 2561002.0, 238498.0, 2553562.0, 2530763.0, 2540152.0, 2561093.0, 2558066.0, 2553499.0, 2552622.0, 2533058.0, 2533047.0, 2556587.0, 2555542.0, 2535613.0, 2550521.0, 2560862.0, 2552266.0, 2559164.0, 2552310.0, 2556363.0, 2558912.0, 2534820.0, 2534846.0, 2558886.0, 2559181.0, 2495466.0, 2533460.0, 2558988.0, 2559087.0, 2550206.0, 2561131.0, 2553817.0, 2561317.0, 2560880.0, 2508107.0, 2560747.0, 2561468.0, 2560883.0, 2560982.0, 2540225.0, 2556711.0, 2561008.0, 2558985.0, 2553840.0, 2556443.0, 2505982.0, 2555394.0, 2560741.0, 2560898.0, 2556404.0, 2532841.0, 2532933.0, 2550542.0, 71197.0, 2533459.0, 2533534.0, 2495136.0, 2507843.0, 2561054.0, 2552403.0, 2557931.0, 2532869.0, 2553655.0, 2543712.0, 2556375.0, 2552686.0, 2558942.0, 2561033.0, 2556456.0, 2556934.0, 2541696.0, 2550235.0, 2539335.0, 2560756.0, 2552296.0, 2560719.0, 497238.0, 2558174.0, 238227.0, 2559263.0, 2506352.0, 2556550.0, 2532789.0, 2559934.0, 925.0, 2552259.0, 2553728.0, 2539937.0, 2561521.0, 2558954.0, 2541192.0, 2508101.0, 2506546.0, 2543739.0, 2543874.0, 2558853.0, 2560839.0, 2555262.0, 497149.0, 2552374.0, 2508007.0, 2555168.0, 2558033.0, 2552597.0, 2561021.0, 2541388.0, 2550767.0, 2560866.0, 2550198.0, 2561318.0, 2561001.0, 2553658.0, 2532870.0, 2530700.0, 2556543.0, 2552478.0, 2555387.0, 2552425.0, 2561383.0, 2561417.0, 2561137.0, 2555477.0, 2560985.0, 2543608.0, 2550565.0, 2556508.0, 2559044.0, 2553719.0, 2560759.0, 2560774.0, 2556673.0, 2535693.0, 2560808.0, 2561340.0, 2539662.0, 2558786.0, 2555547.0, 2561261.0, 2561017.0, 2560819.0, 2560986.0, 2560838.0, 2535867.0, 2560949.0, 2559260.0, 2555546.0, 2560051.0, 2556833.0, 497224.0, 2559293.0, 2561461.0, 2556655.0, 2559385.0, 496961.0, 2558979.0, 2552684.0, 2561006.0, 2553736.0, 2558289.0, 2561278.0, 2561147.0, 2561482.0, 2560764.0, 2553710.0, 2558138.0, 2555345.0, 2559485.0, 2495252.0, 2536032.0, 2543497.0, 2555464.0, 2558975.0, 2559287.0, 2557934.0, 2558165.0, 2557872.0, 2543571.0, 2558119.0, 2558167.0, 2555171.0, 2560890.0, 2561207.0, 2550257.0, 2505076.0, 2553774.0, 2560887.0, 2540269.0, 2556641.0, 2540203.0, 2553631.0, 2556118.0, 2561224.0, 2543465.0, 2560967.0, 2555215.0, 2561272.0, 2558273.0, 2560914.0, 2539308.0, 2558129.0, 2541848.0, 2558956.0, 81294.0, 2555333.0, 2552605.0, 2553656.0, 2561009.0, 2552401.0, 2560961.0, 2561300.0, 2553790.0, 2558274.0, 2561671.0, 2541431.0, 2558144.0, 2561527.0, 2555261.0, 2556762.0, 2560847.0, 2556841.0, 497123.0, 2532878.0, 2560826.0, 2533542.0, 2561653.0, 81284.0, 2558112.0, 2558950.0, 2552396.0, 2558189.0, 2540170.0, 2559270.0, 2561328.0, 2556569.0, 2561324.0, 2553554.0, 2560816.0, 2558175.0, 2555366.0, 2552313.0, 2560976.0, 2552730.0, 2532928.0, 2543456.0, 2560956.0, 2559013.0, 2533033.0, 2542009.0, 2560938.0, 2561644.0, 79858.0, 2540013.0, 2555545.0, 1037347.0, 2561316.0, 2495201.0, 264.0, 2561283.0, 2561279.0, 2558091.0, 2561042.0, 2561061.0, 2561149.0, 2560809.0, 2495184.0, 2560815.0, 2560786.0, 2552494.0, 496723.0, 2560935.0, 2550268.0, 2540287.0, 2543503.0, 2559880.0, 2561107.0, 2550365.0, 2553737.0, 2559163.0, 2560777.0, 2556371.0, 2539275.0, 2558923.0, 2553548.0, 2552408.0, 2495159.0, 2558858.0, 2561329.0, 2552321.0, 2551359.0, 2550313.0, 2532974.0, 2560779.0, 2550400.0, 2558097.0, 2555218.0, 2540291.0, 2557994.0, 2555486.0, 2532797.0, 2560783.0, 2561585.0, 2560939.0, 2558819.0, 2552375.0, 2561177.0, 2535890.0, 2556530.0, 2549982.0, 2558833.0, 2536044.0, 2552379.0, 2556814.0, 71435.0, 252.0, 2559066.0, 2559076.0, 2552427.0, 2556672.0, 2561359.0, 2552576.0, 2556440.0])

In [35]:
defense_part["id"] = player_good_defense.keys()

In [45]:
defense_part = defense_part.set_index("id")

In [46]:
def obtainGoodDefenses(playerId):
    return player_good_defense[playerId]

In [47]:
defense_part["good"] = defense_part.index.map(obtainGoodDefenses)

In [48]:
def obtainBadDefenses(playerId):
    return player_bad_defense[playerId]

In [51]:
defense_part["bad"] = defense_part.index.map(obtainBadDefenses)

In [52]:
defense_part

           good   bad
id
310.0      8558  5460
2495454.0  7740  4959
2533040.0  8227  5214
2543583.0   757   429
2555415.0  7371  4688
...         ...   ...
2552427.0   444   252
2556672.0    74    42
2561359.0   222   126
2552576.0   148    84
2556440.0    74    42

[1111 rows x 2 columns]

In [53]:
defense_part.to_csv("all_players_plays.csv")